<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="AjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <bindings>
            <webHttpBinding>
                <binding name="AjaxBinding" messageEncoding="Json" />
            </webHttpBinding>
        </bindings>
        <services>
            <service name="Microsoft.Ajax.Samples.CalculatorService">
                <endpoint address="ajaxEndpoint"
                    behaviorConfiguration="AjaxBehavior" binding="webHttpBinding"
                    bindingConfiguration="AjaxBinding" contract="Microsoft.Ajax.Samples.ICalculator" />
            </service>
        </services>
    </system.serviceModel>
</configuration>