<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!--  <startup> 
       <supportedRuntime version="2.0.40607" />
       <supportedRuntime version="v1.1.4322"/>
       <supportedRuntime version="v1.0.3705"/>
  </startup> -->
  <configSections>
    <section name="mbunit" type="MbUnit.Core.Config.MbUnitConfigurationSectionHandler, MbUnit.Core" />
  </configSections>
  <appSettings>
  </appSettings>
  <mbunit>
    <cachePath>%TEMP%/Cache</cachePath>
    <fixtureFactories>
      <factory>MbUnit.Core.ArgumentFixtureFactory, MbUnit.Core</factory>
      <factory>MbUnit.Core.FrameworkBridges.FrameworkFixtureFactory, MbUnit.Core</factory>
      <!--        <factory>MbUnit.Core.SSCLIFixtureFactory, MbUnit.Core</factory> -->
    </fixtureFactories>
  </mbunit>
</configuration>