<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="Prob_Critical" value="3"/>
        <add key="Prob_Error" value="7"/>
        <add key="Prob_Warning" value="12"/>
        <add key="Prob_Information" value="23"/>
        <add key="Prob_Transfer" value="20"/>
        <add key="Prob_Start" value="5"/>
        <add key="Prob_Stop" value="5"/>
        <add key="Prob_Suspend" value="5"/>
        <add key="Prob_Resume" value="5"/>
    </appSettings>
    <system.diagnostics>
        <sources>
            <source name="myTS" switchName="mySwitch">
                <listeners>
                    <clear />
                    <add name="Default" type="System.Diagnostics.DefaultTraceListener" />
                    <add name="ConsoleListener" />
                    <add name="AudioListener" /> 
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add type="System.Diagnostics.ConsoleTraceListener" name="ConsoleListener"
                traceOutputOptions="Timestamp" />
            <add type="Microsoft.Samples.CustomTraceListener.AudioTraceListener, CustomTraceListener" name="AudioListener"
                traceOutputOptions="Timestamp"  ToneLength="100"/>
        </sharedListeners>
        <switches>
            <add name="mySwitch" value="All" />
        </switches>
    </system.diagnostics>
</configuration>
