<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.serviceModel>     
    <bindings>
      <blobHttpBinding>
        <binding name="blobHttpBinding" maxBufferSize="131070"
                        transferMode="Streamed"                        
                        maxBufferPoolSize="131070"
                        maxReceivedMessageSize="131070">         
          <readerQuotas maxDepth="32" maxStringContentLength="131070" maxArrayLength="131070"
                        maxBytesPerRead="131070" maxNameTableCharCount="131070" />
        </binding>
      </blobHttpBinding>
    </bindings>
    <extensions>
      <bindingExtensions>
        <add name="blobHttpBinding" type="Microsoft.Samples.BlobMessageEncoder.BlobHttpBindingCollectionElement, BlobHttpBinding, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:8000/blob" binding="blobHttpBinding"
          bindingConfiguration="blobHttpBinding"
         contract="Microsoft.Samples.BlobMessageEncoder.IHttpHandler"  name="blobHttpBinding"/>
    </client>    
  </system.serviceModel>
</configuration>
