<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>

    <!--  DYNAMIC DEBUG COMPILATION
          Set debugmode enable="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
    -->
    <compilation 
         debug="true"
    />

    <!--  CUSTOM ERROR MESSAGES
          Set mode enable="on" or "remote" to enable custom error messages, "off" to disable. Add
          <error> tags for each of the errors you want to handle.
    -->
    <customErrors 
	mode="Off" 
    /> 

    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageoutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace
        enabled="false"
        requestLimit="0"
        pageOutput="false"
        traceMode="SortByTime"
    />

    <!--  SESSION STATE SETTINGS
          By default ASP+ uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionstate cookieless="true".
    -->
    <sessionState 
            mode="InProc" 
            cookieless="false" 
            timeout="20" 
    />

    <!--  GLOBALIZATION
          This section sets the gloablization settings of the application. 
    -->
    <globalization 
            requestEncoding="utf-8" 
            responseEncoding="utf-8" 
   />
  </system.web>
</configuration>
