<configuration>
   <system.runtime.remoting>
      <application>
         <service>
            <activated type="RemotingSample.Customer,RemoteCustomer"/>
            <wellknown 
               type="RemotingSample.SingleCallCustomer,RemoteCustomer" 
               objectUri="SingleCallCustomer" 
               mode="SingleCall" 
            />
            <wellknown 
               type="RemotingSample.SingletonCustomer,RemoteCustomer" 
               objectUri="SingletonCustomer" 
               mode="Singleton" 
            />
         </service>
         <channels>
			<channel ref="tcp" port="8080">
				<serverProviders>
					<formatter ref="binary"/>
				</serverProviders>
			</channel>
         </channels>
         <!--
			Below is an example of using a different port.
          -->
         <!--
         <channels>
			<channel ref="tcp" port="9090">
				<serverProviders>
					<formatter ref="binary"/>
				</serverProviders>
			</channel>
         </channels>
		-->
		
      </application>
   </system.runtime.remoting>
</configuration>
