<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <!-- 
         add our udpTransport handler for use by binding declarations 
     -->
    <!-- 
         add our standard binding handler for use by binding declarations 
     -->
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransport" type="Microsoft.ServiceModel.Samples.Channels.UdpTransportSection, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="Microsoft.ServiceModel.Samples.Channels.SampleProfileUdpBindingSection, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6" />
      </bindingExtensions>
    </extensions>

    <services>
      <service name="Microsoft.ServiceModel.Samples.CalculatorService">
        <endpoint address="calculator" 
            binding="sampleProfileUdpBinding" 
            bindingConfiguration="CalculatorServer"
            contract="Microsoft.ServiceModel.Samples.ICalculatorContract" />
        <endpoint address="datagram" 
            binding="customBinding" 
            bindingConfiguration="DatagramServer"
            contract="Microsoft.ServiceModel.Samples.IDatagramContract" />
        <endpoint address="status" 
            binding="basicHttpBinding" 
            contract="Microsoft.ServiceModel.Samples.IStatusContract" />
      </service>
    </services>
    <bindings>
      <sampleProfileUdpBinding>
        <binding name="CalculatorServer" />
        <binding name="DatagramServer" reliableSessionEnabled="false" />
      </sampleProfileUdpBinding>

      <customBinding>
        <binding name="DatagramServer">
          <udpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment>
      <add name="net.udp.v1" transportConfigurationType="Microsoft.ServiceModel.Samples.Hosting.HostedUdpTransportConfiguration, UdpActivation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=6fa904d2da1848d6" />
    </serviceHostingEnvironment>
  </system.serviceModel>

</configuration>
