<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NumberGuess"
         connectionString="Initial Catalog=NumberGuessWorkflows;Data Source=localhost\sqlexpress;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>