<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
	<system.runtime.remoting>
		<channels>
  			<channel id="tcp" type="Custom.Remoting.Channels.TcpChannel, TwoWayChannel" displayName="TwoWay Tcp Channel" />
			<channel id="http" type="Custom.Remoting.Channels.HttpChannel, TwoWayChannel" displayName="TwoWay Http Channel" />
		</channels>

		<application>

		<service>
			<wellknown mode="Singleton" type="TestLibrary.KnossosObject, TestLibrary" objectUri="KnossosObject.rem" />
			<wellknown mode="Singleton" type="TestLibrary.ZakrosObject, TestLibrary" objectUri="ZakrosObject.soap" />
		</service>

		<channels>
			<channel ref="http" port="9090" channel-schema="http-binary" name="Two way http-binary channel" />
			<channel ref="tcp" port="9000" channel-schema="tcp-soap" name="Two way tcp-soap channel" />
			
			<channel ref="http" port="6789" channel-schema="http-secure" name="Two way http-secure channel">
				<clientProviders>
					<formatter ref="binary" />
					<provider
						type="MsdnMag.Remoting.SecureClientChannelSinkProvider, SecureChannel"
						algorithm="DES"
						oaep="false"
						maxRetries="1"
					/>
				</clientProviders>
				<serverProviders>
					<provider
						type="MsdnMag.Remoting.SecureServerChannelSinkProvider, SecureChannel"
						algorithm="DES"
						oaep="false"
						requireSecurity="true"
						securityExemptionList="127.0.0.1; 207.46.230.220"
						connectionAgeLimit="120"
						sweepFrequency="60"
					/>
					<formatter ref="binary" />
				</serverProviders>
			</channel>
		</channels>

    </application>
  </system.runtime.remoting>
</configuration>
