<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Microsoft.Samples.MoodOrb.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Microsoft.Samples.MoodOrb.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
	</configSections>

	<system.serviceModel>
		<client>
			<endpoint address="http://www.webservicex.net/stockquote.asmx"
				bindingConfiguration="StockQuoteSoap" bindingSectionName="customBinding"
				contractType="Microsoft.Samples.MoodOrb.StockQuoteSoap" configurationName="StockDefault">
				<addressProperties isAddressPrivate="false" />
			</endpoint>

			<endpoint address="http://localhost:8000/orbservices/LifeOutlookService"
	bindingConfiguration="IOrbling" bindingSectionName="customBinding"
	contractType="Microsoft.Samples.MoodOrb.IOrbling" configurationName="LifeOutlook">
				<addressProperties actingAs="http://localhost:8000/orbservices/LifeOutlookService"
                    isAddressPrivate="false">
				</addressProperties>
			</endpoint>


			<endpoint address="http://localhost:8000/orbservices/WeatherOrblingService"
	bindingConfiguration="IOrbling" bindingSectionName="customBinding"
	contractType="Microsoft.Samples.MoodOrb.IOrbling" configurationName="WeatherService">
				<addressProperties actingAs="http://localhost:8000/orbservices/WeatherOrblingService"
                    isAddressPrivate="false">
				</addressProperties>
			</endpoint>
		</client>
		<bindings>
			<customBinding>
				<binding configurationName="StockQuoteSoap">
					<transactionFlow transactionProtocol="OleTx" />
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap11Addressing1" encoding="utf-8" />
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" authenticationScheme="Anonymous" bypassProxyOnLocal="false"
                        hostNameComparisonMode="StrongWildcard" mapAddressingHeadersToHttpHeaders="true"
                        proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered"
                        unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
				</binding>
				<binding configurationName="StockQuoteHttpGet">
					<transactionFlow transactionProtocol="OleTx" />
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" encoding="utf-8" />
				</binding>
				<binding configurationName="StockQuoteHttpPost">
					<transactionFlow transactionProtocol="OleTx" />
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" encoding="utf-8" />
				</binding>
				<binding configurationName="IOrbling">
					<transactionFlow transactionProtocol="OleTx" />
					<security algorithmSuite="Default" authenticationMode="SspiNegotiated"
                        contextMode="Session" defaultProtectionLevel="EncryptAndSign"
                        enableKeyDerivation="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        securityVersion="WSSecurityXXX2005" secureConversationVersion="WSSecureConversationFeb2005"
                        trustVersion="WSTrustFeb2005" generateRequestSignatureConfirmation="false"
                        keyEntropyMode="CombinedEntropy">
						<localClientSettings cacheCookies="true" detectReplays="false"
                            maxClockSkew="00:05:00" maxCookieCachingTime="10675199.02:48:05.4775807"
                            negotiationTimeout="00:02:00" reconnectTransportOnFailure="true"
                            replayCacheSize="500000" replayWindow="00:10:00" closeTimeout="00:01:00"
                            sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:05:00"
                            timestampValidityDuration="00:15:00" />
						<localServiceSettings closeTimeout="00:01:00" detectReplays="false"
                            issuedCookieLifetime="10:00:00" issuedTransitionTokenLifetime="00:05:00"
                            maxClockSkew="00:05:00" maxConcurrentSessions="1000" maxStatefulNegotiations="1024"
                            negotiationTimeout="00:02:00" reconnectTransportOnFailure="true"
                            replayCacheSize="500000" replayWindow="00:10:00" sendNegotiationFaults="true"
                            sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                            inactivityTimeout="01:00:00" />
					</security>
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" encoding="utf-8" />
					<httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" authenticationScheme="Anonymous" bypassProxyOnLocal="false"
                        hostNameComparisonMode="StrongWildcard" mapAddressingHeadersToHttpHeaders="false"
                        proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered"
                        unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>

	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log in Windows Forms projects.-->
			<source name="Microsoft.VisualBasic.MyServices.Log.WindowsFormsSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog"
				 type="System.Diagnostics.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.1200.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
				 initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>

	<!--<system.runtime.serialization>
		<xmlFormatter maxTypes="10000" maxItemsInObjectGraph="50000">
			<declaredTypes>
				<add type="System.Collections.Generic.SortedDictionary`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.SortedDictionary`2+KeyValuePairComparer, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
				<add type="System.Collections.ObjectModel.Collection`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>

				<add type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>
				
				
				<add type="System.Collections.Generic.SortedList`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>
				<add type="System.Collections.Generic.Dictionary`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.ObjectEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
			</declaredTypes>
		</xmlFormatter>
	</system.runtime.serialization>-->


	<userSettings>
		<Microsoft.Samples.MoodOrb.Settings>
   <setting name="Orb" serializeAs="String">
    <value>StockOrbling</value>
   </setting>
   <setting name="OrbLocation" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </Microsoft.Samples.MoodOrb.Settings>
 </userSettings>
 <applicationSettings>
  <Microsoft.Samples.MoodOrb.Settings />
 </applicationSettings>
	
	
</configuration>