<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    <system.serviceModel>
        <client>
            <endpoint
                name="EchoServer"
                address="http://localhost:8000/TestService/BinaryEncoderOverHTTP"
                binding="netHttpBinding" bindingConfiguration="netHttpBinding"
                contract="Microsoft.ServiceModel.Samples.Client.IEchoService" />
        </client>
        <behaviors>
            <behavior name="securityBehavior">
                <clientCredentials>
                    <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" findValue="" />
                    <windows allowNtlm="false" allowedImpersonationLevel="Impersonation"/>
                </clientCredentials>
            </behavior>
        </behaviors>
        <bindings>
            <netHttpBinding>
                <binding name="netHttpBinding" useDefaultWebProxy="true" hostNameComparisonMode="StrongWildcard" securityMode="TransportCredentialOnly">
                </binding>
            </netHttpBinding>
        </bindings>
        <extensions>
            <bindingExtensions>
                <add name="netHttpBinding" type="Microsoft.Samples.Channels.NetHttpBindingCollectionElement, NetHttpBinding, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </bindingExtensions>
        </extensions>
    </system.serviceModel>
</configuration>
