



    <link rel="stylesheet" href="../../../../../util/style.css">

    <form name="Form" method="post" action="srcview.htm?path=/QuickStart/aspplus/samples/webforms/intro/intro3.src&file=JS/Intro3.htm" id="Form">
<input type="hidden" name="__VIEWSTATE" value="YTB6MTQ3MzAyNjM4MF9hMHpfaHo1ejN4X2Ewel9oejV6MHhfYTB6aHppbm5lcmh0bWxfSlMvSW50cm8zLmFzcFx4eF9feHhfeHhfeF9feA==7fb36fbf" />


        <div class="SampleHeader" style="width:100%">
            <div class="SampleTitle">
                <span id="Title">JS/Intro3.htm</span>
            </div>
            <table id="SourceTable" style="font: 8pt Verdana">
    <tr>
        <td style="padding-right:10;"><b>C# Source: </b></td>
        <td><a href='../../../../../aspplus/samples/webforms/intro/intro3aspxsource.htm'>Intro3.htm</a> &nbsp;&nbsp</td>
    </tr>
    <tr>
        <td style="padding-right:10;"><b>VB Source: </b></td>
        <td><a href='../../../../../aspplus/samples/webforms/intro/vb/intro3aspxsource.htm'>VB/Intro3.htm</a> &nbsp;&nbsp</td>
    </tr>
    <tr>
        <td style="padding-right:10;"><b>JScript Source: </b></td>
        <td><a href='../../../../../aspplus/samples/webforms/intro/js/intro3aspxsource.htm'>JS/Intro3.htm</a> &nbsp;&nbsp</td>
    </tr>
</table>

        </div>

        <xmp><%@ Page Language="JScript" %>

<html>
   <head>
      <link rel="stylesheet"href="intro.css">
   </head>

   <body>

       <center>

       <form action="intro3.htm">

           <h3> Name: <input name="Name" type=text value="<%=Request.QueryString("Name")%>">

           Category:  <select name="Category" size=1>
                         
                         <%
                             var values : String [] = [ "psychology", "business", "popular_comp" ];
                             var i : int;
                             for (i=0; i<values.Length; i++) {
                          %>

                                <option <% if (Request.QueryString("Category") == values[i]) { Response.Write("selected"); } %>>
                                   <%=values[i]%>
                                </option>

                          <% } %>

                      </select>

           <input type=submit name="Lookup" value="Lookup">

           <p>

           <% if (Request.QueryString("Lookup") != null) { %>

              Hi <%=Request.QueryString("Name") %>, you selected: <%=Request.QueryString("Category") %>

           <% } %>

       </form>

       </center>

   </body>
</html>
</xmp>
        <span id="ErrorMessage" style="color:red"></span>

    </form>
