<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.ServiceModel.Samples.CalculatorService">
        <!-- use base address provided by host -->
        <endpoint address=""
                  binding="wsHttpBinding"
                  contract="Microsoft.ServiceModel.Samples.IInstanceContextCalculator" />
      </service>
    </services>

  </system.serviceModel>

</configuration>
