<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- use appSetting to configure base address provided by host -->
        <add key="baseAddress" value="http://localhost:8000/windspeed/" />
    </appSettings>

    <system.serviceModel>
        <services>
            <service name="Microsoft.ServiceModel.Samples.SampleService">
                <endpoint bindingConfiguration="sampleBinding" 
                          binding="customBinding" 
                          contract="Microsoft.ServiceModel.Samples.ISampleContract" />
            </service>
        </services>
        <bindings>
            <customBinding>
                <binding name="sampleBinding">
                    <droppingInterceptor/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <extensions>
            <bindingElementExtensions>
                <add name="droppingInterceptor" type="Microsoft.ServiceModel.Samples.DroppingServerElement, service"/>
            </bindingElementExtensions>
        </extensions>
    </system.serviceModel>
</configuration>