<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>

    <!-- 
         add our udpTransport handler for use by binding declarations 
     -->
    <!-- 
         add our standard binding handler for use by binding declarations 
     -->
    <extensions>
      <bindingElementExtensions>
        <add name="udpTransport" type="Microsoft.ServiceModel.Samples.UdpTransportElement, UdpTransport, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="sampleProfileUdpBinding" type="Microsoft.ServiceModel.Samples.SampleProfileUdpBindingCollectionElement, UdpTransport, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingExtensions>
    </extensions>

    <services>
      <service name="Microsoft.ServiceModel.Samples.ConfigurableCalculatorService">
        <endpoint address="/" 
            binding="sampleProfileUdpBinding" 
            bindingConfiguration="CalculatorServer"
            contract="Microsoft.ServiceModel.Samples.ICalculatorContract" />
        <endpoint address="soap.udp://localhost:8081/datagram" 
            binding="customBinding" 
            bindingConfiguration="DatagramServer"
            contract="Microsoft.ServiceModel.Samples.IDatagramContract" />
      </service>
    </services>
    <client>
      <metadata>
        <policyImporters>
          <extension type="Microsoft.ServiceModel.Samples.UdpBindingElementImporter, UdpTransport, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </policyImporters>
      </metadata>
      <endpoint name="calculator"
                address="soap.udp://localhost:8080/" 
                binding="sampleProfileUdpBinding" 
                bindingConfiguration="CalculatorServer"
                contract="Microsoft.ServiceModel.Samples.ICalculatorContract">
      </endpoint>
      <endpoint name="datagram"
                address="soap.udp://localhost:8081/datagram" 
                binding="customBinding" 
                bindingConfiguration="DatagramServer"
                contract="Microsoft.ServiceModel.Samples.IDatagramContract">
      </endpoint>
    </client>
    <bindings>
        <!-- 
         server bindings 
          -->
        <sampleProfileUdpBinding>
            <binding name="CalculatorServer" />
            <binding name="DatagramServer" reliableSessionEnabled="false" />
        </sampleProfileUdpBinding>

        <customBinding>
        <binding name="DatagramServer">
            <binaryMessageEncoding />
            <udpTransport/>
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

</configuration>
