<?xml version="1.0" ?>
<configuration>
    <appSettings>
        <add key="datagramQueueName" value=".\private$\DatagramDeadLetterQueue" />
        <add key="sessionQueueName" value=".\private$\SessionDeadLetterQueue" />
        <add key="unrecognizedQueueName" value=".\private$\UnrecognizedDeadLetterQueue" />
    </appSettings>
</configuration>