<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="Timestamp" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>