<configuration>
    <system.serviceModel>
        <services>
            <service name="Microsoft.Samples.Indigo.EchoService"> 
                <endpoint address="" binding="basicHttpBinding" contract="Microsoft.Samples.Indigo.IEchoService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
