a:link
{
	color: rgb(153, 0, 204); 
}
a:visited
{
	color: rgb(128, 128, 128); 
} 
a:active 
{
	color: rgb(204, 153, 0);
}
body
{
	font-family: Century Gothic, Arial, Helvetica;
	background-color: rgb(255, 255, 225);
	color: rgb(0, 51, 102);
   font-size: 12pt; 
   font-weight: normal;

}
table
{
	table-border-color-light: rgb(204, 153, 255);
	table-border-color-dark: rgb(204, 0, 204); 
}
h1, h2, h3, h4, h5, h6
{
	font-family: Century Gothic, Arial, Helvetica;
}
h1
{
	color: rgb(0, 51, 102);
}
h2
{
	color: rgb(51, 0, 153); 
}
h3
{
	color: rgb(204, 0, 153); 
}
h4
{
	color: rgb(0, 51, 102);
}
h5
{
	color: rgb(51, 0, 153);
}
h6
{
	color: rgb(204, 0, 153);
}
.lev1
{ 
    font-size: 14pt; 
    color: #008080; 
    font-weight: bold;
}
.lev2
{ 
    font-size: 12pt; 
    color: #800000; 
    font-weight: bold;
}
.lev3
{ 
    font-size: 12pt; 
    color: #800000; 
    font-weight: normal;
}

.code
{
 	font-family: Courier New;
    font-size: 10pt; 
    color: #00007f; 
}

.highlight
{
	font-family: Courier New;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 128);
    font-size: 10pt; 
    font-weight: normal;
}


.default
{
	font-family: Century Gothic, Arial, Helvetica;
	background-color: rgb(255, 255, 225);
	color: rgb(0, 51, 102);
   font-size: 12pt; 
   font-weight: normal;

}
