<?xml version='1.0'?>
<lunch-menu>
  <Food>
    <Item>Cheese Pizza</Item>
    <Price>$6.95</Price>
    <Calories>800</Calories>
  </Food>
  <Food>
    <Item>Pepperoni Pizza</Item>
    <Price>$7.95</Price>
    <Calories>950</Calories>
  </Food>
  <Food>
    <Item>The "Everything" Pizza</Item>
    <Price>$9.95</Price>
    <Calories>1050</Calories>
  </Food>
  <Food>
    <Item>Hungarian Ghoulash</Item>
    <Price>$4.50</Price>
    <Calories>600</Calories>
  </Food>
  <Food>
    <Item>Maisey's Pork Sandwich</Item>
    <Price>$6.95</Price>
    <Calories>950</Calories>
  </Food>
</lunch-menu>