<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachDBFileName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AttachDBFileName.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="DB1"
          connectionString="Data Source=.\SQLExpress;AttachDbFilename=|DataDirectory|\Database1\Perftest.mdf;Integrated Security=True;User Instance=True;"
          providerName="System.Data.SqlClient" />
      <add name="DB2"
          connectionString="Data Source=.\SQLExpress;AttachDbFilename=|DataDirectory|\Database2\Perftest.mdf;Integrated Security=True;User Instance=True;"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>