body {
  margin: 10px;
  font-family: Tahoma;
  background-color: beige;
  color: black;
  font-size: x-small;
}
.logotitle {
  font-family: Verdana;
  font-size: x-large;
  font-weight: bold;
  color: darkgoldenrod;
}
.logomenuitem {
  background-color: black;
  color: white; 
  font-weight: bold; 
  padding-left: 5px; 
  padding-right: 5px;        
}
a.logomenuitem {
  text-decoration: none;
  background-color: black;
  color: white; 
  font-size: smaller; 
  font-weight: bold; 
}
a:hover.logomenuitem {
  text-decoration: underline;
  background-color: black;
  color: gold; 
  font-weight: bold; 
  font-size: smaller; 
}
.samplearea {
  text-align: left;
  width: 65%; 
  padding: 10px; 
  border: 1px solid tan; 
  background-color: white;
}
.codeview {
   font-family: Lucida Console;
   font-size: smaller;
}
a {
  text-decoration: none;
  color: navy;
}
a:hover {
  text-decoration: underline;
  color: blue;
}
h1 {
  font-family: Verdana;
}
h3 {
  border-bottom: 1px solid tan; 
  font-family: Verdana;
}
h4 {
  margin-bottom: 0px;
  font-family: Verdana;
}
.heading {
  background-color: palegoldenrod;
}





