<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service
        name="PaymentWF.Checks"
        behaviorConfiguration="ChecksBehaviors" >
        <host>
          <baseAddresses>
            <add baseAddress=
             "http://localhost:8888/Servicehost/Checks.svc"/>
          </baseAddresses>
        </host>
        <endpoint
          contract="ICheckOperations"
          binding="wsHttpContextBinding"
      />
      </service >
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChecksBehaviors" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>