<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContosoWorkflows.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ContosoWorkflows.Properties.Settings>
            <setting name="ContosoWorkflows_Fabrikam_processPOWorkflow_WebService"
                serializeAs="String">
                <value>http://localhost:4487/FabrikamWorkflows_WebService/FabrikamWorkflows.processPOWorkflow_WebService.asmx</value>
            </setting>
            <setting name="ContosoWorkflows_Northwind_Service" serializeAs="String">
                <value>http://localhost:2206/Northwind/Service.asmx</value>
            </setting>
        </ContosoWorkflows.Properties.Settings>
    </applicationSettings>
</configuration>