.infocol {
    BACKGROUND-COLOR: #efefef;
    TEXT-ALIGN: right;
    WIDTH: 30%;
    FONT-SIZE: 8pt;
    verticalAlign: text-top;
    FONT-FAMILY: Verdana

}

.contentcol {
    TEXT-ALIGN: left;
    WIDTH: *;
    verticalAlign: text-top;   
    FONT-SIZE: 10pt;
    FONT-FAMILY: Verdana
}

