A:hover 
{ 
   color:blue;
}	

body 
    { 
        margin:0,0,0,0; 
    }

    table.sidebar td 
    { 
        font-family:Verdana; 
        font-size:8pt; 
        padding-right:10; 
        padding-left:15;
        text-color : white
    }

    table.main td 
    { 
        font-family:Verdana; 
        font-size:8pt; 
        padding-right:10; 
        padding-left:5
    }

    class_main td
    { 
        font-family:Verdana; 
        font-size:8pt; 
    }

    table.top td 
    { 
        font-family:Verdana; 
        font-size:8pt; 
        padding:10,5,10,10;


    }

    table.classes
    { 
        text-align:left;
        border-style:solid; 
        border-color:black; 
        border-width:1 
    }

    table.classes td 
    { 
        text-align:left;
        border-style:solid; 
        border-color:black; 
        border-width:1 
    }


    td.sidebar_header 
    { 
        padding:20,0,10,0;
    }

    td.main_header 
    { 
        font-family:Verdana;
        padding:20,0,10,0;
    }

    body { font-family:Verdana;         font-size:8pt;  }

    td.class_header 
    { 
        padding:0,0,10,0;
    }
   
    a 
    { 
        color:black 
    }
