<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.ServiceModel.Samples.LoadBalancedEchoService">
        <endpoint
                  behaviorConfiguration="EchoServiceBehavior"
                  binding="wsHttpBinding"
                  bindingConfiguration="Binding1" 
                  contract="Microsoft.ServiceModel.Samples.ILoadBalancedEchoContract" />
      </service>
    </services>

    <behaviors>
      <endpointBehaviors>
      <behavior name="EchoServiceBehavior">
        <loadBalancerBehaviorExtension address="net.tcp://localhost:808/servicemodelsamples/loadBalancerService/" binding="netTcpBinding" bindingConfiguration="Binding2" />
      </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <!-- You can change security mode to enable security -->
        <binding name="Binding1">
          <security mode="Message"/>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="Binding2">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <extensions>
      <behaviorExtensions>
        <add name="loadBalancerBehaviorExtension" type="Microsoft.ServiceModel.Samples.LoadBalancerBehaviorElement, library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>

  </system.serviceModel>

</configuration>
