
hr { text-align:left; }

table.reference { width:90%;font: 8pt verdana;padding:1,1,1,1 }
table.reference td { width:25%; padding-left:5; padding-bottom:2 }
table.reference td a { color:black; }
table.reference td a:hover { color:darkred; }

.TODO { color:red; }

body {  font: 8pt verdana; background-color: white; color: black; }
body div {  font: 8pt tahoma, verdana; }

table.outer { font-family:Verdana; font-size:8pt; }
td {  font: 8pt verdana; }

td.toc { font-family:Verdana; font-size:8pt; background-color:f1e0c6; }
div.toc { margin-top:20px; margin-left: 10px; font-family: Verdana, Arial, Helvetica; }

div.body {  margin-top:20px; margin-left: 15px; margin-right:15px; font-family: Tahoma, Verdana, Arial, Helvetica; }

a.outer { color:black }
a.outer:hover { color:darkred }

a.toc2 { color:black }
a.toc2:hover { color:darkred }

h1   { font-size:22pt }
h4   { font-size:12pt }

bak_span.subhead   { color:black;font-weight:600;font-size:10pt }
bak_h5   { color:black;font-weight:600;font-size:10pt; }

span.subhead   { font-size:12pt }
h5   { font-size:12pt;font-weight:100  }

h6   { color:darkblue; font-size:11pt; font-weight:600 }

div.comment { font-family:Times; background-color:ffffcc; padding:10,10,10,10; width="90%"; margin-left:5}
code { color:darkred; }
.code { color:darkred; font-family:"courier new";}
div.code { padding-left:25; }

bogus.div.code { width="100%" background-color:cccccc; color:darkred; font-family:"courier new";padding:10,10,10,10; }

span.caption { font-size:10pt; color:black; font-weight:600; margin-top:5 }
div.caption { font-size:10pt; color:darkgreen; font-weight:600; margin-top:5 }

div.aside { background-color:eeeeee; width:90% }

img { border-color:black }

a.srcview { font-size:9pt;}
table.srcview { width="90%"; }

div.indent { padding-left:25; }

div.buffer-top { padding:7,0,0,0 }

a:hover { color: red }
.issues { color: 4455aa }
.table1 { width:95% ; font-size: x-small; }
.td1 { width:50%; background-color:eeeeee; }
.th1 { width:50%; text-align:left; background-color:cccccc; }

table.table  { font-size:8pt; cell-padding:1; }
table.table td { background-color:eeeeee; font-size:8pt; vertical-align:top; width:50% }
table.table pre { font-family:Verdana; }
table.table th { background-color:cccccc; text-align:left; font-size:8pt; }

table.table2  { font-size:8pt; cell-padding:1; }
table.table2 td { background-color:eeeeee; font-size:8pt; vertical-align:top;  }
table.table2 pre { font-family:Verdana; }
table.table2 th { background-color:cccccc; text-align:left; font-size:8pt; }


