TABLE
{
	border:solid 1px black;
}

TD
{
	background-color:506C86;
	color:FFFFFF;
}
TD.ProductTechnology
{
	font-weight:bold;
}

TD.TipInfo
{
	background-color:infobackground;
	text-align:center;
	color:000000;
}

TD.Source
{
	background-color:506C86;
	font-size:xx-small;
}

TD.PageHeader
{
	font-size:x-large;
	text-align:center;
}

A
{
	color:FFFFFF;
}