<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="myConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Databases\Data.mdf;Integrated Security=True;User Instance=True" />
		<add key="myAsyncConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Databases\Data.mdf;Integrated Security=True;User Instance=True;Asynchronous Processing=true" />
	</appSettings>

	
</configuration>