<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation targetFrameworkMoniker=".NETFramework,Version=v4.0"/>
  </system.web>
  <system.serviceModel>
    <tracking>
      <participants>
        <add name="EtwTrackingParticipant"
             type="System.Activities.Tracking.EtwTrackingParticipant, System.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
             profileName="HealthMonitoring_Tracking_Profile"/>
      </participants>
      <profiles>
        <trackingProfile name="HealthMonitoring_Tracking_Profile">
          <workflow>
            <workflowInstanceQuery>
              <states>
                <state name="Started"/>
                <state name="Completed"/>
              </states>
            </workflowInstanceQuery>
            <workflowInstanceUnhandledExceptionQuery includeException="true"/>
            <workflowInstanceAbortedQuery includeReasonAborted="true"/>
            <faultPropagationQueries>
              <faultPropagationQuery activityName="*"
                  extractFaultData="true" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
        <trackingProfile name="TroubleShooting_Tracking_Profile">
          <workflow>
            <workflowInstanceQuery>
              <states>
                <state name="*"/>
              </states>
            </workflowInstanceQuery>
            <workflowInstanceAbortedQuery includeReasonAborted="true"/>
            <workflowInstanceUnhandledExceptionQuery includeException="true"/>
            <activityQueries>
              <activityQuery activityName="*">
                <states>
                  <state name="*"/>
                </states>
              </activityQuery>
            </activityQueries>
            <activityInitializedQueries>
              <activityInitializedQuery activityName="*"/>
            </activityInitializedQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*"/>
            </activityScheduledQueries>
            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*"/>
            </cancelRequestedQueries>
            <faultPropagationQueries>
              <faultPropagationQuery activityName="*" extractFaultData="true" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
            <userTrackingQueries>
                <userTrackingQuery name="*" activityName="*"/>
             </userTrackingQueries>
            </workflow>
        </trackingProfile>
      </profiles>
    </tracking>
    <services>
      <service name="SampleWorkflowService" behaviorConfiguration="SampleTrackingSample.SampleWFBehavior" >
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="SampleWorkflowService" address="" binding="basicHttpBinding" contract="SampleWorkflowServiceContract"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SampleTrackingSample.SampleWFBehavior">

          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="True"/>
          <trackingComponents>
            <add name="EtwTrackingParticipant"/>
          </trackingComponents>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
