<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="WSFun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="WSFun.Amazon.AmazonSearchService" value="http://soap.amazon.com/onca/soap3"/>
		<add key="AmazonSubscriberID" value="INSERT YOUR AMAZON SUBSCRIBER ID HERE"/>
    </appSettings>
	<applicationSettings>
		<WSFun.Properties.Settings>
			<setting name="setting" serializeAs="String">
				<value/>
			</setting>
		</WSFun.Properties.Settings>
	</applicationSettings>
</configuration>
