<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ManagerApplication.ManagerApplicationService">
				<endpoint
					address="http://localhost:1234/ExpenseServiceManagerApplication"
					binding="wsHttpBinding"
					contract="ExpenseContracts.IExpenseServiceManagerApplication"/>
			</service>
		</services>

		<client>
			<endpoint name="ExpenseServiceManager" 
				address="http://localhost:8081/ExpenseService/Manager" 
				binding="wsHttpBinding" 
				contract="ExpenseContracts.IExpenseServiceManager" />
		</client>
	</system.serviceModel>
</configuration>