<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Working_with_XML_in_Excel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Working_with_XML_in_Excel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Working_with_XML_in_Excel.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <Working_with_XML_in_Excel.Properties.Settings>
            <setting name="Working_with_XML_in_Excel_IgnyteTheaterMovieService_MovieInformation"
                serializeAs="String">
                <value>http://www.ignyte.com/webservices/ignyte.whatsshowing.webservice/moviefunctions.asmx</value>
            </setting>
        </Working_with_XML_in_Excel.Properties.Settings>
    </applicationSettings>
</configuration>