<configuration>    
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown 
					type="Toub.Remoting.SampleObject, SampleObject" 
					url="tcp://localhost:8124/SampleObject.rem"
				/>
			</client>
			<channels>
				<channel ref="tcp">
					<clientProviders>
						<formatter ref="binary" />
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>