<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExpenseRemoteServiceUrl" 
            value="tcp://localhost:8085/ExpenseRemoteService"/>
	</appSettings>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="ExpenseLocalServices.ExpenseRemoteService, ExpenseLocalServices" 
					url="tcp://localhost:8085/ExpenseRemoteService" />
			</client>		
		</application>
	</system.runtime.remoting>
</configuration>