body{
	background-color:#FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0;
	font-style: normal;
  	line-height: normal;
  	font-weight: normal;
  	font-variant: normal;
  	text-decoration: none;
	color: #000000;
	font-size: 14px;
}
img{
	border: 0;
}
a{
	color:BED0D3;
}
a:hover{
	color:009900;
}
#top{
	width:100%;
	border:0px;
	background-color:#1E4D57;
	color: #FFFFFF;
	font-size: x-large;
	font-weight: bold;
	padding-top:10px;
	padding-bottom:10px;
}
.topside{
	padding-left:10px;
	padding-right:10px;
	width:150px;
}
#main{
	padding-top:5px;
	margin-top:5px;
	width:100%;
	border:0px;
}
.sidebar{
	padding-left:10px;
	padding-right:10px;
	width:150px;
	background-color:#FFFFFF;
}
.smalltxt{
	font-size: 14px;
}
.sidebar a{
	text-align:center;
	padding: 4px 0px;
	display: block;
	border: 2px groove #1E4D57;
	line-height: 1em;
	width: 145px;
	margin-top: 8px;
	margin-right: 0px;
	margin-bottom: 8px;
	margin-left: 0px;
	text-decoration:none;
	font-weight: bold;
	font-size: 10px;
}
.sidebar a:link, .sidebar a:visited
{
	color: #BED0D3;
	background-color: #15363E;
}
.sidebar a:hover, .sidebar a:active{
	color: #BED0D3;
	background-color: #1E4D57;
	border: 2px solid #000;
}
#content{
	padding-left:10px;
	padding-right:10px;
}
#bottom{
	font-size:12px;
	padding-left:10px;
	padding-right:10px;
}
.left{
	text-align:left;
}
.center{
	text-align:center;
}
.right{
	text-align:right;
}
.partwidth{
	width:90%;
}
.mdy{
	color:#000000;
	text-size:16px;
	font-size: medium;
	font-weight: bold;
	text-align: center;
	line-height: 2em;
}
.infobox{
	color:#000000;
	background-color:#FFFFFF;
	display: block;
	border: thin solid #1E4D57;
	line-height: 1em;
	width: 100%;
	padding: 0px;
}
.infoboxcontent{
	padding: 5px;
	text-align: left;
}
.infoboxheader{
	color:#000000;
	background-color:#BED0D3;
	text-size:16px;
	border: thin dashed BED0D3;
}
.infoboxsubject{
	color:#000000;
	background-color:#BED0D3;
	text-size:16px;
	font-weight:bold;
	font-size: large;
	text-align: left;
	width: 100%;
}
.infoboxtype{
	color:#000000;
	background-color:#BED0D3;
	text-size:16px;
	font-size: small;
	text-align: right;
	font-weight: bold;
}
.infoboxdate{
	color:#1E4D57;
	background-color:#FFFFFF;
	text-size:16px;
	font-size: small;
	text-align: right;
	font-weight: bold;
}
.infoboxattach{
	color:#BED0D3;
	background-color:#1E4D57;
	text-size:16px;
	font-size: small;
	font-weight: bold;
	text-align: left;
	width: 100%;
}
.infoboxattach a:link, .sidebar a:visited{
	color: #BED0D3;
}
.infoboxattach a:hover, .sidebar a:active{
	color: #FFFFFF;
}
.infoboxspecialheader{
	color:#1E4D57;
	text-size:16px;
	font-size: large;
	font-weight: bold;
	text-align: center;
}