body
{
	font-family: Tahoma,Arial;
	margin: 0;
	background-color: ButtonFace;
}
.header
{
	background-color: ActiveCaption;
	color: White;
	font-weight: bold;
}
.tableborder
{	
	background-color:White;
	color:Black;
}
plain
{
	text-decoration: underline;
}
.tablerowback
{
	font-family: Tahoma;
	font-weight: bold;
	font-size: xx-small;
	background-color: #FFFFA7;
}
.tablerownoback
{
	font-family: Tahoma;
	font-size: xx-small;
	font-weight: bold;
	background-color: #FFFFFF;
}
.indent
{
	position: relative;
	right: +5px;
}
.gradbck
{
	font-family: Tahoma;
	font-weight: bold;
	border-bottom: solid 2px black;
}

#list1, #list2
{
	padding: 8px;
}

#list1
{
	border: 1px solid #aaa;
	margin-bottom: 10px;
}

#list2
{
	border: 1px solid #aaa;
}

ul
{
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

ul li
{
	list-style: none none;
	margin-bottom: 2px;
}

.list
{
	border: 1px solid #ccc;
	width: 100%;
}

.listTitle
{
	background-color: #ffffff;
	cursor: move;
	font-weight: bold;
	width: 100%;
}


.listBody
{
	padding: 0px;
}

.dropCue
{
	border-top: 1px solid #000;
}

.template
{
	display: none;
}
.wfImage
{
	cursor:pointer;
	overflow:scroll;
	
}
/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
}



/*Popup Control*/
.popupControl{
	background-color:White;
	position:absolute;
	visibility:hidden;
}
.menuItem
{
	background-color:ButtonFace;
	font-family:Tahoma;
	font-weight:bold;
	border-width:1px;
	color:#000000;
	font-size:8pt;
	border-style:outset;
}
.menuHoverItem
{
	background-color:#C4DAFA;
	font-family:Tahoma;
	font-weight:bold;
	border-width:1px;
	color:#000000;
	border-style:outset;
	font-size:8pt;
	
}
