<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="myMarsConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Company.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=True" />
		<add key="myNonMarsConnectionString" value="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database\Company.mdf;Integrated Security=True;User Instance=True;MultipleActiveResultSets=False" />
	</appSettings>
</configuration>