<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint name="ExpenseServiceClient"
				address="http://localhost:8081/ExpenseService/Client" 
				binding="wsDualHttpBinding" bindingConfiguration="AlternativeClientCallback"
				contract="ExpenseContracts.IExpenseServiceClient" />
		</client>
		<bindings>
			<wsDualHttpBinding>
				<binding name="AlternativeClientCallback"
					clientBaseAddress="http://localhost:8082/ExpenseService/ClientCallback"/>
			</wsDualHttpBinding>
		</bindings>
	</system.serviceModel>
</configuration>