<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="enterpriselibrary.configurationSettings" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="AppSettingsApplicationBlockSection" type="System.Configuration.IgnoreSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <enterpriselibrary.configurationSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" applicationName="AppSettingsDemoApplication" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/configuration">
    <configurationSections>
      <configurationSection xsi:type="ReadOnlyConfigurationSectionData" name="AppSettingsApplicationBlockSection" encrypt="false">
        <storageProvider xsi:type="AppConfigFileStorageProviderData" name="Application Configuration File Storage Provider" />
        <dataTransformer xsi:type="XmlSerializerTransformerData" name="Xml Serializer Transformer">
          <includeTypes />
        </dataTransformer>
      </configurationSection>
    </configurationSections>
    <keyAlgorithmStorageProvider xsi:nil="true" />
    <includeTypes />
  </enterpriselibrary.configurationSettings>
  <AppSettingsApplicationBlockSection>
    <xmlSerializerSection type="Kokuti.EnterpriseLibrary.AppSettings.AppSettingsApplicationBlockData, Kokuti.EnterpriseLibrary.AppSettings, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null">
      <ArrayOfAppSettingsData xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <AppSettingsData key="TestKey" value="TestValue" />
      </ArrayOfAppSettingsData>
    </xmlSerializerSection>
  </AppSettingsApplicationBlockSection>
</configuration>