<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Workflows.Properties.Settings.ASPNETDBConnectionString"
   connectionString="Data Source=.;Initial Catalog=ASPNETDB;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>