<?xml version="1.0" encoding="utf-8" ?>
<!-- This is where we store all the connection string information
	 If we want to connect to a different data source, we can reference
	 this file to get the appropriate information, but do not need to 
	 change any of the existing code.
-->
<configuration>
	<connectionStrings>
		<add name="SQL Server" providerName="System.Data.SqlClient" 
		  connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Databases\MyData.mdf;Integrated Security=True;User Instance=True" />
		<add name="MS Access" providerName="System.Data.OleDb" 
		  connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Databases\MyData.mdb;Persist Security Info=True" />

	</connectionStrings>

</configuration>