



    <link rel="stylesheet" href="../../../../../../util/style.css">

    <form name="Form" method="post" action="srcview.htm?path=/QuickStart/aspplus/samples/webforms/ctrlauth/Templates/Repeater2.src&file=VB/RepeaterItemCollection.vb" id="Form">
<input type="hidden" name="__VIEWSTATE" value="YTB6MTQ3MzAyNjM4MF9hMHpfaHo1ejN4X2Ewel9oejV6MHhfYTB6aHppbm5lcmh0bWxfVkIvUmVwZWF0ZXJJdGVtQ29sbGVjdGlvbi52YnhfX3h4X3h4X3hfX3g=c847aa0d" />


        <div class="SampleHeader" style="width:100%">
            <div class="SampleTitle">
                <span id="Title">VB/RepeaterItemCollection.vb</span>
            </div>
            <table id="SourceTable" style="font: 8pt Verdana">
    <tr>
        <td style="padding-right:10;"><b>C# Source: </b></td>
        <td><a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/repeater2aspxsource.htm'>Repeater2.htm</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/repeater2cssource.htm'>Repeater2.cs</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/repeateritemcssource.htm'>RepeaterItem.cs</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/repeateritemcollectioncssource.htm'>RepeaterItemCollection.cs</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/makesamplebatsource.htm'>makesample.bat</a> &nbsp;&nbsp</td>
    </tr>
    <tr>
        <td style="padding-right:10;"><b>VB Source: </b></td>
        <td><a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/vb/repeater2aspxsource.htm'>VB/Repeater2.htm</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/vb/repeater2vbsource.htm'>VB/Repeater2.vb</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/vb/repeateritemvbsource.htm'>VB/RepeaterItem.vb</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/vb/repeateritemcollectionvbsource.htm'>VB/RepeaterItemCollection.vb</a> &nbsp;&nbsp<a href='../../../../../../aspplus/samples/webforms/ctrlauth/templates/vb/makesamplebatsource.htm'>VB/makesample.bat</a> &nbsp;&nbsp</td>
    </tr>
</table>

        </div>

        <xmp>Imports System
Imports System.Collections
Imports System.Web
Imports System.Web.UI
Imports System.Web.Util

Namespace TemplateControlSamples

    Public Class RepeaterItemCollectionVB : Implements ICollection

        Private Items As ArrayList

        Public Sub New(Items As ArrayList)
            MyBase.New()
            Me.Items = Items
        End Sub

        Public ReadOnly Property All As RepeaterItemVB()
            Get
                return CType(Items.ToArray(), RepeaterItemVB())
            End Get
        End Property

        Public ReadOnly Property Count As Integer Implements ICollection.Count
            Get
                Return Items.Count
            End Get
        End Property

        Public ReadOnly Property IsReadOnly As Boolean Implements ICollection.IsReadOnly
            Get 
                Return false
            End Get
        End Property

        Public ReadOnly Property IsSynchronized As Boolean  Implements ICollection.IsSynchronized
            Get
                Return false
            End Get
        End Property

        Public ReadOnly Property SyncRoot As Object Implements ICollection.SyncRoot
            Get
                Return Me
            End Get
        End Property

        Public Default ReadOnly Property Item(Index As Integer) As RepeaterItemVB 
            Get
                Return CType(Items(Index), RepeaterItemVB)
            End Get
        End Property
        
        Public Sub CopyTo(OutputArray As Array, Index As Integer)  Implements ICollection.CopyTo
            Dim E As IEnumerator = Me.GetEnumerator()
            Do While (E.MoveNext())
                OutputArray.SetValue(E.Current, Index)
                Index = Index + 1
            Loop
        End Sub

        Public Function GetEnumerator() As IEnumerator Implements ICollection.GetEnumerator
            Return Items.GetEnumerator()
        End Function

    End Class

End Namespace
</xmp>
        <span id="ErrorMessage" style="color:red"></span>

    </form>
