<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <client>
      
    </client>
    <services>
      <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.SubscriptionManager" behaviorConfiguration="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.DiscoverableBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_Time_Addresses/service/SubscriptionManager/" />
          </baseAddresses>
        </host>
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <endpoint address ="" binding="basicHttpBinding" contract="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.ISubscriptionService" />

        <!-- Metadata Endpoints -->
        <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. --> 
        <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="DiscoveryEndpoint" kind="udpDiscoveryEndpoint" />
      </service>
      <service name="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.ApprovalManager" behaviorConfiguration="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.DiscoverableBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/Design_TimeAddress/service/ApprovalManager"/>
          </baseAddresses>
        </host>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <endpoint name="DiscoveryEndpoint" kind="udpDiscoveryEndpoint" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.DiscoverableBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceDiscovery>
            <announcementEndpoints>
              <endpoint name="udpEndpoint"
                        kind="udpAnnouncementEndpoint" />
            </announcementEndpoints>
          </serviceDiscovery>
          <trackingComponents>
            <add name="consoleTrackingParticipant"/>
          </trackingComponents>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <tracking>
      <participants>
        <add name="consoleTrackingParticipant"
             type="Microsoft.Samples.DocumentApprovalProcess.ApprovalManager.ConsoleParticipant, TrackingLibrary, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
             profileName="Approval_Monitor" />
      </participants>
      <profiles>
        <trackingProfile name="Approval_Monitor">
          <workflow>
            <workflowInstanceQuery>
              <states>
                <state name="Started"/>
                <state name="Completed"/>
              </states>
            </workflowInstanceQuery>
            <workflowInstanceUnhandledExceptionQuery includeException="true"/>
            <workflowInstanceAbortedQuery includeReasonAborted="true"/>
            <faultPropagationQueries>
              <faultPropagationQuery activityName="*"
                  extractFaultData="true" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
          </workflow>
        </trackingProfile>
        <trackingProfile name="TroubleShooting_Tracking_Profile">
          <workflow>
            <workflowInstanceQuery>
              <states>
                <state name="*"/>
              </states>
            </workflowInstanceQuery>
            <workflowInstanceAbortedQuery includeReasonAborted="true"/>
            <workflowInstanceUnhandledExceptionQuery includeException="true"/>
            <activityQueries>
              <activityQuery activityName="*">
                <states>
                  <state name="*"/>
                </states>
              </activityQuery>
            </activityQueries>
            <activityInitializedQueries>
              <activityInitializedQuery activityName="*"/>
            </activityInitializedQueries>
            <activityScheduledQueries>
              <activityScheduledQuery activityName="*" childActivityName="*"/>
            </activityScheduledQueries>
            <cancelRequestedQueries>
              <cancelRequestedQuery activityName="*" childActivityName="*"/>
            </cancelRequestedQueries>
            <faultPropagationQueries>
              <faultPropagationQuery activityName="*" extractFaultData="true" faultHandlerActivityName="*"/>
            </faultPropagationQueries>
            <userTrackingQueries>
              <userTrackingQuery name="*" activityName="*"/>
            </userTrackingQueries>
          </workflow>
        </trackingProfile>
      </profiles>
    </tracking>    
  </system.serviceModel>
</configuration>
