body					{ background: url(BackgroundImage.gif) #ececd4;
					 	  margin-top: 0px;
					 	  margin-left: 0px;
					 	  margin-right: 0px;
					 	  margin-bottom: 0px;
					 	  font-family: arial, tahoma, san serif; 
		 				  font-size: 7pt;
					  	  text-align: left; 
					 	  color: #6c6c3c; }
								  
table					{ table-layout: fixed; 
					  	  font-family: arial, tahoma, san serif; 
					  	  font-size: 7pt;
					  	  text-align: left; 
					  	  color: #6c6c3c; }
								  
div						{ scrollbar-3dlight-color: #cccc98;
					  	  scrollbar-arrow-color: #ffffff;
					  	  scrollbar-base-color: #ffffff;
					  	  scrollbar-darkshadow-color: #cccc98;
					  	  scrollbar-face-color: #cccc98;
					  	  scrollbar-highlight-color: #ffffff;
					  	  scrollbar-shadow-color: #ffffff;
					  	  height: 100%; 
					  	  width: 100%;
					  	  overflow: auto; 
					  	  font-family: arial, tahoma, san serif; 
					  	  font-size: 7pt;
					  	  text-align: left; 
					  	  color: #6c6c3c;}
								  
a						{ color: #6c6c3c; }
		
a:hover					{ color: #b39866; }
								  
a:visited				{ color: #6c6c3c; }
								  
.title					{ font-family: arial, tahoma, san serif; 
					  	  font-size: 8pt;
					  	  font-weight: bold;
					  	  color: #6c6c3c; }
								  
.regulartext			{ font-family: arial, tahoma, san serif;
					  	  color: #6c6c3c; }
					  	  
input					{ font-family: arial, tahoma, san serif;
	                      font-size:7pt;
					  	  color: #6c6c3c; }					  	  
					  	  
.boldregulartext		{ font-family: arial, tahoma, san serif;
	                      font-size:10pt;
						  font-style:italic;
				          font-weight:bold;
					  	  color: #6c6c3c; }
								  
.smalltext				{ font-family: arial, tahoma, san serif; 
					  	  font-size: 5pt; 
					  	  color: #6c6c3c; }