<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>

    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="etw" />
        </listeners>
      </source>
    </sources>

    <sharedListeners>
      <add name="etw" type="Microsoft.ServiceModel.Samples.EtwTraceListener, SvcTraceListeners" />
    </sharedListeners>

  </system.diagnostics>

  <system.serviceModel>

    <client>
      <endpoint name=""
                address="http://localhost/servicemodelsamples/service.svc" 
                binding="wsHttpBinding" 
                contract="ICalculator" />
    </client>


  </system.serviceModel>

</configuration>
