<?xml version="1.0"?>

<configuration>

  <appSettings>

    <add key="LogExceptions" value="true" />
    <add key="sendSysLogMessages" value ="true" />
    <add key="exceptionLogConnString" value="server=(local);database=TEST;uid=sa;pwd=blah;"/>
    <add key="emailAddresses" value="you@whosie.com;otherperson@whatsie.com" />   
    <add key="detailURL" value="http://localhost/AppRestart/report.aspx" />
    <add key="sysLogIp" value="127.0.0.1" />
    <add key ="sitePath" value="http://localhost/AppRestart/default.aspx"/>
  </appSettings >
  <connectionStrings>
    <add connectionString ="server=(local);database=TEST;uid=sa;pwd=blah;" name="test" providerName="SqlClient"/>
  </connectionStrings >


  <system.net>
    <mailSettings>
      <smtp from="you@yourdomain.com">
        <network host="mail.yourdomain.com" port="25" userName="you" password="yourpassword" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>


  <system.web>
   <healthMonitoring
  enabled="true"
    heartbeatInterval="0">
        <bufferModes>
          <remove name="Analysis"/>
          <add name="Analysis"
          maxBufferSize="10"
          maxFlushSize="2"
          urgentFlushThreshold="2"
          regularFlushInterval="00:00:02"
          urgentFlushInterval="00:00:01"
          maxBufferThreads="1"
    />
        </bufferModes>
        <providers>
          <remove name ="SqlWebEventProvider"/>
          <add name="SqlWebEventProvider"
          type="System.Web.Management.SqlWebEventProvider,System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="test"
          maxEventDetailsLength="1073741823"
          buffer="true"
          bufferMode="Analysis"
    />
        </providers>
        <eventMappings>
          <remove name ="All Audits"/>
          <add name="All Audits"
          type="System.Web.Management.WebAuditEvent, System.Web,Version=2.0.0.0,Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a"
    />
        </eventMappings>
        <profiles>
          <remove name="Default"/>
          <add name="Default"
          minInstances="1"
          maxLimit="Infinite"
          minInterval="00:10:00"
    />
        </profiles>
        <rules>
          <add name="All Events Default"
          eventName="All Events"
          provider="SqlWebEventProvider"
          profile="Default"
          minInterval="00:00:01" minInstances="1"
    />
        </rules>
      </healthMonitoring>

        <compilation debug="true" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
