<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.diagnostics>
<switches>
  <add name="MySource" value="Verbose"/>
</switches>

<sources>
	<source name="MySource">
		<listeners>
		<add name="examplelog" type="System.Diagnostics.TextWriterTraceListener" initializeData="example.log"/>
		<add name="allfile" type="System.Diagnostics.TextWriterTraceListener" initializeData="all.log" traceOutputOptions="Timestamp, ProcessId" />
		</listeners>
	</source>
</sources>

</system.diagnostics>

</configuration>