<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.messagebus>
    <serviceEnvironments>
      <serviceEnvironment name="main">
        <port>
          <identityRole>soap.tcp://localhost:46000/LabClient/</identityRole>
        </port>
        <policyManager>
          <areUntrustedPolicyAttachmentsAccepted>true</areUntrustedPolicyAttachmentsAccepted>
          <isPolicyReturned>true</isPolicyReturned>
        </policyManager>
      </serviceEnvironment>
    </serviceEnvironments>
  </system.messagebus>
</configuration>
