<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation. All rights reserved -->
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <!--ROUTING SERVICE -->
      <!--Define a routing service.  The Behavior Configuration field references the name of the Routing Behavior that this service will use-->
      <service behaviorConfiguration="routingData"
          name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add  baseAddress="http://localhost:8000/routingservice/router"/>
          </baseAddresses>
        </host>
        <!--
          Define and configure the endpoint we want the Router to listen on and the Contract we want it to use
          Router provided contracts are:  ISimplexDatagramRouter, ISimplexSessionRouter, IRequestReplyRouter, and IDuplexSessionRouter.          
         -->
        <endpoint address="" 
                  binding="wsHttpBinding" 
                  name="reqReplyEndpoint" 
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        
        <behavior name="routingData">
          <serviceMetadata httpGetEnabled="True"/>
          <!--
          Define the Routing Behavior.  The routingTableName attribute contains the name of the Routing Table that this behavior will use.          
          -->
          <routing routingTableName="routingTable1" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--
      Define the client endpoints that we want the Router to communicate with.  These are the destinations that the Router will send messages to.
      Note that we always define the client endpoint contract as *.  The router will mirror the selected contract defied on the endpoint 
      on which the message was originally recieved.
    -->
    <client>
      <endpoint name="CalculatorService" address="http://localhost:8000/servicemodelsamples/service" binding="wsHttpBinding" contract="*" />
    </client>
    <!--ROUTING SECTION -->
    <routing>
      
      <!--
        Define the filters that we want the router to use.  In this example we define a MatchAll message filter, which will match all messages it sees.
      -->
      <filters>
        <filter name="MatchAllFilter1" filterType="MatchAll" />
      </filters>
      
      <!-- Define the routing table that contains the matchAll filter defined in the filters section. -->
      <routingTables>
        <table name="routingTable1">
          <entries>
            <!-- Map the filter to a client endpoint that was previously defined. Messages that match this filter will be sent to this destination. -->
            <add filterName="MatchAllFilter1" endpointName="CalculatorService" />
          </entries>
        </table>
      </routingTables>
    </routing>
  </system.serviceModel>
</configuration>