<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkflowLibrary1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WorkflowLibrary1.Properties.Settings>
            <setting name="WorkflowLibrary1_LocalWS_Service" serializeAs="String">
                <value>http://localhost:41503/WS/Service.asmx</value>
            </setting>
        </WorkflowLibrary1.Properties.Settings>
    </applicationSettings>
</configuration>