<configuration>
   <system.runtime.remoting>
      <application>
         <client url="tcp://localhost:8080">
			<activated type="RemotingSample.Customer,RemoteCustomer"/>
            <wellknown type="RemotingSample.SingleCallCustomer,RemoteCustomer" url="tcp://localhost:8080/SingleCallCustomer" />
			<wellknown type="RemotingSample.SingletonCustomer,RemoteCustomer" url="tcp://localhost:8080/SingletonCustomer" />
         </client>
         <!-- 
			Below is an example using a DNS Entry with a different port. 
			You will need to uncomment the block to use it (as well as
			comment the above block).
         -->
         
         <!-- <client url="tcp://www.myserver.com:9090">
			<activated type="RemotingSample.Customer,RemoteCustomer"/>
            <wellknown type="RemotingSample.SingleCallCustomer,RemoteCustomer" url="tcp://www.myserver.com:9090/SingleCallCustomer" />
			<wellknown type="RemotingSample.SingletonCustomer,RemoteCustomer" url="tcp://www.myserver.com:9090/SingletonCustomer" />
         </client> 
         -->
       </application>
   </system.runtime.remoting>
</configuration>