/* Default CSS Stylesheet for a new Web Application project */

BODY
{
    BACKGROUND-COLOR: white;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
}

P, TD
{
	font-size: 10pt;
}



TH	{	
	vertical-align:	baseline;
	font-size:	1em;
	font-weight:	bold;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	font-family: Arial, Helvetica, sans-serif;
	}

A.vsDrop:hover {
text-decoration:	none;
	color:	#FFFFFF;
}	

p.drop A:link	
{
	text-decoration:	none;
	color:	#3333cc;
	}	
		
p.drop A:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
p.drop A:active	{	
	text-decoration:	none;
	color:	#333399;
	}

p.drop A:hover	{	
	text-decoration:	none;
	color:	#ffffff;
	}

A.vsEval:link	
{
	text-decoration:	none;
	color:	#3333cc;
	}	
		
A.vsEval:visited	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A.vsEval:active	{	
	text-decoration:	none;
	color:	#333399;
	}	
		
A.vsEval:hover
{
	color: #ff0000;
	text-decoration: none;
}

A.vsEvalSmall:link	
{
	text-decoration:	none;
	font-size: 10px;
	color:	#3333cc;
	}	
		
A.vsEvalSmall:visited	{	
	text-decoration:	none;
	font-size: 10px;
	color:	#333399;
	}	
		
A.vsEvalSmall:active	{	
	text-decoration:	none;
	font-size: 10px;
	color:	#333399;
	}	
		
A.vsEvalSmall:hover
{
	color: #ff0000;
	font-size: 10px;
	text-decoration: none;
}

.mnu
{
	font-weight: bold;
	}
	
.tableheaders {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #0066CC;
}
.maintext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.status {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000066;
	font-weight: bold;
}
.boxheaders {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #0066CC;
	height: 16px;
}

.homeheaders {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #CCCCCC;
	background-color: #0066CC;
	height: 18px;
}

.homealert
{
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 18px;
	background-color: #cc6666;
}

.hometext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}

.pagetitles {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
}
.menu
{
    FONT-WEIGHT: bold
}
.menucmd
{
    FONT-WEIGHT: bold
}
.property
{
    FONT-WEIGHT: bold
}
.propvalue
{
    FONT-WEIGHT: bold
}
.entry
{
    FONT-WEIGHT: bold
}
.inline
{
    
}
.heading
{
    FONT-WEIGHT: bold
}
.selection
{
    FONT-WEIGHT: bold
}
.button
{
    FONT-WEIGHT: bold
}
.key
{
    FONT-WEIGHT: bold
}
.control
{
    FONT-WEIGHT: bold
}
.code
{
	background-color: f5f5f5
}