<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="dbMachineName" value="localhost" />
        <add key="dbName" value="dbLabServer" />
        <add key="dbUserName" value="sa" />
        <add key="dbPassword" value="pass@word1" />
        <add key="TrustedIssuer" value="CN=INDIGOLABSERVER, DC=redmond, DC=corp, DC=microsoft, DC=com" />
  </appSettings>
  <system.messagebus>
  <configurationHandlers>
   <add name="serviceEnvironmentItems">
    <add name="logger" type="Microsoft.MessageBus.Test.Utilities.LoggerConfigurationHandler, Microsoft.MessageBus.Test.Utilities"/>
    </add>
   </configurationHandlers>
    <serviceEnvironments>
      <serviceEnvironment name="main">
      <logger directory=".\log" pattern="server" location="InSendPipelineOnly,InReceivePipelineOnly" receiveStage="spy" sendStage="SecureRequest"/>
        <port>
          <identityRole>soap.tcp://localhost:46001/LabServer/</identityRole>
        </port>
        <policyManager>
          <areUntrustedPolicyAttachmentsAccepted>true</areUntrustedPolicyAttachmentsAccepted>
          <isPolicyReturned>true</isPolicyReturned>
        </policyManager>
        <securityManager>
        <!-- Add applicationSecurity -->
          
        </securityManager>
      </serviceEnvironment>
    </serviceEnvironments>
  </system.messagebus>
</configuration>
