vti_encoding:SR|utf8-nl
vti_textextensions:SX|.txt.actproj.cs.dbs.etp.ext.fky.kci.lgn.prc.rc.rc2.rct.rul.sql.tab.trg.txt.udf.udt.user.usr.vap.vb.viw.vsmproj.vspscc.vsscc.vssscc.
vti_webservertype:SR|msiis
vti_restartmanual:IX|0
vti_defaultlanguage:SR|en-us
vti_timecreated:TR|10 Jul 2002 16:45:37 -0000
vti_oldestcompatibleversion:SR|2.0.0.0
vti_defaultcharset:SR|windows-1252
vti_navbuttonuplabel:SR|Up
vti_casesensitiveurls:IX|0
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_extenderversion:SR|4.0.2.5322
vti_longfilenames:IX|1
vti_disableautoimgsizeexts:SX|.asp
vti_ignorekeyboard:IR|0
vti_navbuttonprevlabel:SR|Back
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_welcomenames:VX|Default.htm Default.asp index.htm iisstart.asp Default.aspx
vti_secureserverurl:SR|https://lap
vti_navbuttonhomelabel:SR|Home
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ACIPAddresses vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP vti_ServerCollab vti_TimedDocEvents
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_insecureserverurl:SR|http://lap
