<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <!-- use appSetting to configure the memberId -->
    <add key="member" value="member2" />
  </appSettings>

  <system.serviceModel>

    <client>
      <!-- chat instance participating in the mesh -->
      <endpoint name="ChatEndpoint"
                address="net.p2p://chatMesh/servicemodelsamples/chat" 
                binding="netPeerTcpBinding" 
                bindingConfiguration="Binding1" 
                contract="Microsoft.ServiceModel.Samples.IChat">
      </endpoint>

      <!-- client used to communicate with the custom resolver service -->
      <endpoint name="CustomPeerResolverEndpoint"
                address="net.tcp://localhost/servicemodelsamples/peerResolverService" 
                binding="netTcpBinding" 
                bindingConfiguration="Binding2" 
                contract="Microsoft.ServiceModel.Samples.ICustomPeerResolver">
      </endpoint>
    </client>

    <bindings>
      <netPeerTcpBinding>
        <!-- Refer to Peer channel security samples on how to configure netPeerTcpBinding for security -->
        <binding name="Binding1" port="5191">
          <security mode="None" />
          <resolver mode="Custom">
            <custom address = "net.tcp://localhost/servicemodelsamples/peerResolverService"
                            binding="netTcpBinding" 
                            bindingConfiguration="Binding2" 
                            resolverType="Microsoft.ServiceModel.Samples.CustomPeerResolver, instance2"/>
          </resolver>
        </binding>
      </netPeerTcpBinding>

      <netTcpBinding>
        <!-- You can change security mode to enable security -->
        <binding name="Binding2">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
