
  <!-- 
     Add this system.runtime.remoting section to your web.config
	 at the top, before the <system.web> tag.
	 
     Replace OrderDetailObjects with the name of your assembly 
     root namespace (usually the Class Library project name)

     Replace TestObject with the name of the class that will be
     remoted  
  -->

  <system.runtime.remoting>
	<application>
		<service>
			<wellknown mode="SingleCall" 
			   type="OrderDetailObjects.TestObject, OrderDetailObjects" 
			   objectUri="TestObject.rem" />
		</service>
	</application>
  </system.runtime.remoting>

