<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Microsoft.Samples.Windows.Forms.EventBasedAsync.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="EventBasedAsyncSampleCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Microsoft.Samples.WinForms.EventBasedAsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Microsoft.Samples.WinForms.EventBasedAsync.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EventBasedAsyncSampleCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Microsoft.Samples.WinForms.EventBasedAsync.SimpleWebServices.SimpleWebService" value="http://localhost/samplewebservices/SimpleWebService.asmx" />
  </appSettings>
  <applicationSettings>
    <Microsoft.Samples.Windows.Forms.EventBasedAsync.Settings1>
      <setting name="SimpleWebService" serializeAs="String">
        <value>http://localhost/samplewebservices/simplewebservice.asmx</value>
      </setting>
      <setting name="EventBasedAsyncSampleCS_SimpleWebServices_SimpleWebService"
        serializeAs="String">
        <value>http://localhost/samplewebservices/simplewebservice.asmx</value>
      </setting>
    </Microsoft.Samples.Windows.Forms.EventBasedAsync.Settings1>
    <EventBasedAsyncSampleCS.Properties.Settings>
      <setting name="SimpleWebService" serializeAs="String">
        <value>http://localhost/samplewebservices/simplewebservice.asmx</value>
      </setting>
    </EventBasedAsyncSampleCS.Properties.Settings>
    <Microsoft.Samples.WinForms.EventBasedAsync.Properties.Settings>
      <setting name="Microsoft.Samples.WinForms.EventBasedAsync_SimpleWebServices_SimpleWebService" serializeAs="String">
        <value>http://localhost/samplewebservices/simplewebservice.asmx</value>
      </setting>
    </Microsoft.Samples.WinForms.EventBasedAsync.Properties.Settings>
    <Microsoft.Samples.WinForms.EventBasedAsync.Settings1>
      <setting name="SimpleWebService" serializeAs="String">
        <value>http://localhost/samplewebservices/simplewebservice.asmx</value>
      </setting>
    </Microsoft.Samples.WinForms.EventBasedAsync.Settings1>
  </applicationSettings>
  <userSettings>
    <EventBasedAsyncSampleCS.Properties.Settings />
  </userSettings>
</configuration>