<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <client>
        <endpoint address="http://localhost/netfx35samples/service.svc/"
          binding="basicHttpBinding" bindingConfiguration="securedBasicHttp"
          contract="Microsoft.WorkflowServices.Samples.ICalculator" name="HttpCookie" />
        <endpoint address="http://localhost/netfx35samples/service.svc/ContextOverHttp"
          binding="wsHttpContextBinding" contract="Microsoft.WorkflowServices.Samples.ICalculator"
          name="ContextOverHttp" />
      </client>

      <bindings>
        <basicHttpBinding>
          <binding name="securedBasicHttp" allowCookies="true">
            <security mode="TransportCredentialOnly">
              <transport clientCredentialType="Ntlm" />
            </security>
          </binding>
        </basicHttpBinding>
      </bindings>
     
    </system.serviceModel>
  </configuration>