

body { font: 10pt verdana; background-color: white; }
div.code { background-color=dddddd; width="90%" background-color:cccccc; color:darkred; font-family:"courier new"; padding:5,5,5,5; }
h4 { font: 12pt verdana; font-weight:700 }
h2 { font: 18pt verdana;  }

xmp { padding-left:30 ; color:darkred; }
h3 { font-family:Verdana;  }

.SampleHeader {
  background-color: f6e4c6;
  color: black;
  padding: 6px;
  border-color:black;
  border:2,2,2,2;
  border-style:solid
}
.SampleTitle {
  font-family: verdana;
  font-size: 14pt;
  font-weight: bold;

}
.SampleDesc {
  font-family: Verdana;
  font-size: 8pt;
}
.SamplePageText {
  font-family: Verdana;
  font-size: 8pt;
}
.SampleSourceLink {
  font-family: Tahoma;
  font-size: 8pt;
}

.SourceTitlePanel {
  background-color: f6e4c6;
  color: black;
  font-family: verdana;
  font-size: 14pt;
  font-weight: bold;
  padding: 6px;
}
.SourcePanel {
  background-color: gainsboro;
  color: black;
  font-family: 'Lucida Console';
  font-size: 8pt;
  padding: 4px;
}
