<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <add name="compressionMessageEncoding" type="Microsoft.Samples.Indigo.GZipEncoder.CompressionMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <client>
      <endpoint address="http://localhost:8000/samples/compressionEncoder/HttpSampleServer" 
                bindingConfiguration="ISampleServer"
                binding="customBinding" 
                contract="ISampleServer">
      </endpoint>
    </client>
    <bindings>
      <customBinding>
        <binding name="ISampleServer">
          <compressionMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport manualAddressing="false"
                         authenticationScheme="Anonymous" 
                         bypassProxyOnLocal="false"
                         hostNameComparisonMode="StrongWildcard" 
                         proxyAuthenticationScheme="Anonymous" 
                         realm="" 
                         useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>
