<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

	<appSettings>
		<!-- use appSetting to configure base address provided by host -->
		<add key="baseAddress" value="http://localhost:8000/orbservices/LifeOutlookService" />
	</appSettings>

	<system.serviceModel>
		<services>
			<service serviceType="Microsoft.Samples.MoodOrb.LifeOutlookService"
					 behaviorConfiguration="LifeOutlookServiceBehavior">
				<!-- use base address provided by host -->
				<endpoint address=""
						  bindingSectionName="wsHttpBinding"
						  bindingConfiguration="Binding1" 
						  contractType="Microsoft.Samples.MoodOrb.IOrbling"/>
			</service>
		</services>

		<bindings>
			<wsHttpBinding>
				<binding configurationName="Binding1" />
			</wsHttpBinding>
		</bindings>

		<behaviors>
			<behavior 
				configurationName="LifeOutlookServiceBehavior"
				returnUnknownExceptionsAsFaults="True" >
			</behavior>
		</behaviors>

	</system.serviceModel>
	<system.runtime.serialization>
		<xmlFormatter maxTypes="10000" maxItemsInObjectGraph="50000">
			<declaredTypes>
				<add type="System.Collections.Generic.SortedDictionary`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.SortedDictionary`2+KeyValuePairComparer, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
				<add type="System.Collections.ObjectModel.Collection`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>


				<add type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>


				<add type="System.Collections.Generic.SortedList`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>
				<add type="System.Collections.Generic.Dictionary`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.ObjectEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
			</declaredTypes>
		</xmlFormatter>
	</system.runtime.serialization>



</configuration>
