<?xml version="1.0" ?>
<configuration>
    <appSettings>
        <add key="queueName" value=".\private$\SessionDeadLetterQueue" />
    </appSettings>
    <system.serviceModel>
        <services>
            <service name="Microsoft.ServiceModel.Samples.SessionService">
                <endpoint address="net.msmq://localhost/private/SessionDeadLetterQueue" 
                          binding="netMsmqBinding"
                          contract="Microsoft.ServiceModel.Samples.ISessionOrderTaker"
                          />
            </service>
        </services>
    </system.serviceModel>
</configuration>