.BODY  {
	background-color : #ffffcc;
	border-bottom : 0px;
	border-left : 0px;
	border-right : 0px;
	border-top : 0px;
	margin-left : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
}

.Table  {
	border-bottom : medium none;
	border-left : medium none;
	border-right : medium none;
	border-top : medium none;
	margin-top : 16px;
	margin-left : 10px;
	width : 95%;
}

.TblTD {
  color : white;
	font-family : Verdana, sans-serif;
	font-size : 9pt;
	font-weight : bold;
  background : #cccc66;
 }
 
 .TDA  {
	position : relative;
	left : 10px;
 }

 .TDText  {
	position : relative;
	left : 10px;
	color : Blue;
 }

.NS {
	color : #003366;
	font-family : Verdana, sans-serif;
	font-weight : bold;
	font-size : 90%;
}

.Class  {
	color : #003366;
	font-family : Verdana, sans-serif;
	font-weight : normal;
	font-size : 90%;
	position : relative;
	left : 10px;
}

.Member  {
	color : #003366;
	font-family : Verdana, sans-serif;
	font-weight : normal;
	font-size : 90%;
	position : relative;
	left : 20px;
}
.MemberField  {
	color : #003366;
	font-family : Verdana, sans-serif;
	font-weight : normal;
	font-size : 90%;
	position : relative;
	left : 25px;
}
.Paramref {
	color :	Blue;
	font-weight : bold;
}
