html body {
	margin: 0;
	padding: 0;
}

/*---------------------------------------- The Container (the frame) ----------------------------------------*/
#container {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}

/*---------------------------------------- The Banner ----------------------------------------*/
#banner {
	position: relative;
	width: 100%;
	height: 44px;
	margin: 0;
	padding: 0;
	text-align: right;
	background-color: #D2E6F9;
	background-image:   url(../images/asp_logo.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

/*---------------------------------------- The Home and Feedback Tabs ----------------------------------------*/
#tabs {
	float: right;
	width: 169px;
	height: 23px;
}

/*---------------------------------------- The Navigation Container ----------------------------------------*/
#navcontainer {
	position: relative;
	width: 100%;
	height: 76px;
	text-align: center;
	background-color: #D2E6F9;
	background-image: url(../images/logo_lower.gif);
	background-repeat: no-repeat;
	background-position: left top;
}

/*---------------------------------------- The Navigation ----------------------------------------*/
#nav {
	position: relative;
	width: 708px;
	height: 76px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: #D2E6F9;
}

/*---------------------------------------- Gray Bar ----------------------------------------*/
#graybar {
	width: 100%;
	height: 8px;
	background-color: #CCCCCC;
	background-image: url(../images/gray_tile.gif);
	background-repeat: repeat-x;
	background-position: left top;
}

/*---------------------------------------- The Content ----------------------------------------*/
#content {
	margin: 20px 14px;
}

/*---------------------------------------- The Learn More Box ----------------------------------------*/
#orangebox {
	float: right;
	width: 152px;
	padding: 0;
	margin: 20px 0px 14px 14px;
	margin-left: 28px;
	text-align: center;
}
#orangetop {
	width: 152px;
	height: 24px;
	padding: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #FFFFFF;
	background-color: #F16C00;
	background-image: url(../images/orange_top.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#orangemiddle {
	width: 152px;
	padding: 8px;
	padding-bottom: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
	border-left: 2px solid #F16C00;
	border-right: 2px solid #F16C00;
}
#orangebottom {
	width: 152px;
	height: 7px;
	background-image: url(../images/orange_bottom.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
a.orangelink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #003399;
	text-decoration: none
}
a.orangelink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #003399;
	text-decoration: none;
}
a.orangelink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #F16C00;
	text-decoration: underline;
}
a.orangelink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #6699CC;
	text-decoration: none;
}

/*---------------------------------------- The Sub App Navigation ----------------------------------------*/
#subapp {
	position: relative;
	width: 613px;
	height: 70px;
	background-color: #003399;
	background-image: url(../images/app_bottom.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#subapptop {
	position: relative;
	width: 613px;
	height: 44px;
}
#subappbottom {
	position: relative;
	clear: both;
	width: 613px;
	height: 26px;
	padding-top: 6px;
	padding-left: 13px;
	padding-right: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
}
a.subapplink:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.subapplink:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
a.subapplink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
a.subapplink:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}

/*---------------------------------------- Text Formatting ----------------------------------------*/
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
ol {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
pre {
	font-family: Courier, monospaced;
    margin: 12px 164px 12px 0px;
	padding: 12px;
	font-size: 12px;
	font-weight: normal;
	background: #EEEEEE;
}
.str {
    COLOR: #006080
}
.rem
{
    color: #008000;
}
.kwrd {
    color: #0000FF;
}
h1 {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #003399;
}
h2 {
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003399;
}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	color: #003399;
}
h4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	color: #003399;
}
h5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	color: #003399;
}

/*---------------------------------------- Basic Links & Previous/Next Links ----------------------------------------*/
a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	text-decoration: none
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #F16C00;
	text-decoration: underline;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #6699CC;
	text-decoration: none;
}

a.next:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F16C00;
	text-decoration: none
}
a.next:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F16C00;
	text-decoration: none;
}
a.next:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #003399;
	text-decoration: underline;
}
a.next:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #F16C00;
	text-decoration: none;
}

/*---------------------------------------- Basic Links ----------------------------------------*/
a.header:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none
}
a.header:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}
a.header:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #003399;
	text-decoration: underline;
}
a.header:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #6699CC;
	text-decoration: none;
}

/*---------------------------------------- Footer ----------------------------------------*/
#footer {
	clear: both;
	width: 100%;
	bottom: 0;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
	margin: 0;
	padding: 5px 0;
	background-color: #6699CC;
}