<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
		<compilation 
			debug="true"
			/>
		<httpHandlers>
			<add verb="GET" path="*.dfm" 
			type="DynamicFileManager.DynamicFileHandler, DynamicFileManager" 
			/>
		</httpHandlers>
	</system.web>
	<appSettings>
		<!--
		Use this key to change the extension used for the physical files. It must match the
		extension used by the httphandler and the IIS ISAPI extension mapping
		<add key="FileManager_Extension" value="dfm" />
		-->
		<add key="FileManager_Path" value="files" />
		<add key="FileManager_Mime" value="image/jpeg" />
		
		<!-- FileManager_Timeout: timeout value in minutes for files to live on the server -->
		<add key="FileManager_Timeout" value="1" />
	</appSettings>
</configuration>
