<?xml version="1.0"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>WFLab11_Ex02_Task02_Members</Title>
      <Author>David Starr</Author>
      <Shortcut>WFLab11_Ex02_Task02_Members</Shortcut>
    </Header>
    <Snippet>   <Code Language="VB">
  <![CDATA[
Imports SyndicationServer
Imports System.ServiceModel.Syndication
Imports System.Xml
]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>