<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">


	<appSettings>
		<!-- use appSetting to configure base address provided by host -->
		<add key="baseAddress" value="http://localhost:8000/orbservices/WeatherOrblingService" />
	</appSettings>

	<system.serviceModel>

		<services>
			<service serviceType="Microsoft.Samples.MoodOrb.WeatherService"
					 behaviorConfiguration="WeatherServiceBehavior">
				<endpoint address=""
						  bindingSectionName="wsProfileBinding"
						  bindingConfiguration="Binding1" 
						  contractType="Microsoft.Samples.MoodOrb.IOrbling" />
			</service>
		</services>

		<behaviors>
			<behavior 
				configurationName="WeatherServiceBehavior"
				returnUnknownExceptionsAsFaults="true" >
			</behavior>
		</behaviors>
		<bindings>
			<wsProfileBinding>
				<binding configurationName="Binding1" />
			</wsProfileBinding>
		</bindings>
		
	</system.serviceModel>
	

		<!--
	<system.serviceModel>

		<services>
			<service serviceType="Microsoft.Samples.MoodOrb.WeatherService"
					 behaviorConfiguration="WeatherServiceBehavior">
	<endpoint address=""
			  bindingSectionName="wsProfileBinding"
			  bindingConfiguration="Binding1" 
			  contractType="Microsoft.Samples.MoodOrb.IOrbling" />
	</service>
	</services>

	<behaviors>
		<behavior 
			configurationName="WeatherServiceBehavior"
			returnUnknownExceptionsAsFaults="True" >
		</behavior>
	</behaviors>
	<client>
		<endpoint address="http://weather.gov/mdl/survey/pgb_survey/dev/SOAP_server/ndfdXMLserver.php"
			bindingConfiguration="ndfdXMLPortType" bindingSectionName="customBinding"
			contractType="Microsoft.Samples.MoodOrb.ndfdXMLPortType" configurationName="WeatherDefault">
			<addressProperties identityData="" identityType="None" isAddressPrivate="false" />
		</endpoint>
	</client>
	<bindings>
		<wsProfileBinding>
			<binding configurationName="Binding1" />
		</wsProfileBinding>

		<customBinding>
			<binding configurationName="ndfdXMLPortType">
				<contextFlow transactions="Ignore" transactionHeaderFormat="OleTx"
					logicalThreadId="Ignore" locale="Ignore" />
				<httpTransport manualAddressing="false" maxMessageSize="65536"
					authenticationScheme="Anonymous" bypassProxyOnLocal="false"
					hostnameComparisonMode="StrongWildcard" mapAddressingHeadersToHttpHeaders="true"
					proxyAuthenticationScheme="Anonymous" realm="" transferTimeout="00:01:00"
					useSystemWebProxy="true" />
				<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
					messageVersion="Soap11Addressing1" encoding="utf-8" />

				<systemXmlTextMessageEncoding messageVersion="Soap11Addressing1" encoding="iso-8859-1" />

			</binding>
		</customBinding>
	</bindings>
	<extensions>
		<bindingElementExtensions>
			<add name="systemXmlTextMessageEncoding"
				 type="SystemXmlTextMessageEncoder.SystemXmlTextMessageEncodingBindingSection, SystemXmlTextMessageEncoder"/>
		</bindingElementExtensions>

	</extensions>

	</system.serviceModel>

	<system.runtime.serialization>
		<xmlFormatter maxTypes="10000" maxItemsInObjectGraph="50000">
			<declaredTypes>
				<add type="System.Collections.Generic.SortedDictionary`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.SortedDictionary`2+KeyValuePairComparer, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
				<add type="System.Collections.ObjectModel.Collection`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>


				<add type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.List`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>


				<add type="System.Collections.Generic.SortedList`2, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
				</add>
				<add type="System.Collections.Generic.Dictionary`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
					<knownType type="System.Collections.Generic.GenericEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.ObjectEqualityComparer`1, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
					</knownType>
					<knownType type="System.Collections.Generic.KeyValuePair`2, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
						<parameter index="0" />
						<parameter index="1" />
					</knownType>
				</add>
			</declaredTypes>
		</xmlFormatter>
	</system.runtime.serialization>-->
</configuration>