BODY, P, LI, INPUT, H1, H2, H3, SPAN, TD, SELECT

{font-family: verdana, arial; font-size: .9em}

P SPAN 
{font-size: 1em}

H1

{font-size: 1.3em}

H2

{font-size: 1.2em}

H3

{font-size: 1.1em}

.wrapper, .wrapper A
{background-color: blue; color: white}

.nav
{background-color: green; color: white;}

.nav A
{color: white}

.body
{padding: 10px; background-color: #FFC}