<?xml version="1.0" ?>
<configuration>
    <appSettings>
        <add key="destinationQueueName" value=".\private$\SessionOrderTaker" />
    </appSettings>
    <system.serviceModel>
        <client>
            <endpoint name="orderTakerEndpoint"
                      address="net.msmq://localhost/private/SessionOrderTaker" 
                      binding="netMsmqBinding"
                      bindingConfiguration="defaultBinding"
                      contract="ISessionOrderTaker"
                      />
        </client>
        <bindings>
            <netMsmqBinding>
                <binding name="defaultBinding" timeToLive="00:00:02" />
            </netMsmqBinding>
        </bindings>
    </system.serviceModel>
</configuration>