body {
	background: url(images/bg-body.jpg) repeat-x #FFF;
	color: #294984;
	margin: 46px 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 62.6%; /* sets base font size to 10px for easier conversion to other sizes */
	text-align: center;
}

h1, h2, h3, h4, h5, form {
	padding: 0;
	margin: 0;
}

img {
	border: 0;
}

table td {
	vertical-align: top;
	color: #000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#page {
	width: 960px;
	margin: 0 auto;
	padding: 10px;
	background: #FFF;
	text-align: left;
}
:first-child+html #page {
	width: 980px;
}
* html #page {
	width: 980px;
}

#header {
	margin: 0 0 10px 0;
	background: url(images/bg-header.jpg) repeat-x #84B6DE;
	color: #FFF;
}

#header img {
	float:left;
}

#header h1 {
	float: left;
	margin: 40px 0 0 0;
}

#login, #breadcrumb {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 110%;
	font-weight: bold;
}

#login {
	float: right;
	text-align: right;
	margin: 40px 18px 0 0;
	line-height: 150%;
}

#login a, #login a:visited {
	color: #2B4B86;
	text-decoration: none;
}

#login a:hover, #login a:active {
	text-decoration: underline;
}

#breadcrumb {
	float: left;
	clear: left;
	padding: 1px 0 11px 20px;
	white-space:nowrap;
}

#content {
	
}

#content a:hover {
	text-decoration: none;
}

#content div.box {
	float: left;
	clear: left;
}

#content div.right {
	margin: 0 0 0 10px;
	clear: none;
}

.blueBox {
	background: #84B6DE;
	padding: 10px 20px;
	font-size: 140%;
}

.blueBox h4 {
	font-size: 142.86%;
	color: #FFF;
}

.blueBox h5 {
	font-size: 114.26%;
	color: #294984;
}

.blueBox a {
		
}

.blueBoxBlueBorder {
	background: #C1DAEE;
	border: solid 5px #84B6DE;
	padding: 20px;
	font-size: 140%;
}

.blueBorderBox,
.orangeBorderBox,
.greenBorderBox {
	margin: 0 0 10px 0;
	padding: 5px 10px;
	font-size: 140%;
	font-weight: bold;
}

.blueBorderBox h4,
.orangeBorderBox h4,
.greenBorderBox h4{
	float: left;
}


.blueBorderBox {
	border: solid 5px #84B6DE;
	color: #294984;
}

.blueBorderBox a {
	color: #294984;
}

.orangeBorderBox {
	border: solid 5px #D67D10;
	color: #D67D10;
}

.orangeBorderBox a {
	color: #D67D10;
}

.greenBorderBox {
	border: solid 5px #73AE42;
	color: #73AE42;
}

table a {
	text-decoration: none;
}

#content table a:hover {
	text-decoration: underline;
}

.greenBorderBox a {
	color: #73AE42;
}

.blueBorderBox a.task,
.orangeBorderBox a.task,
.greenBorderBox a.task {
	margin-left: 34px;
}

td.right {
	text-align: right;
}

td.right img, td.right input {
	display: inline-block;
	margin: 10px 0px 0 0;
}

.tabOn {
	background: #73AE42;
	color: #FFF;
	border: none;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 4px 12px;
}

.tabOff {
	background: #C4DFA3;
	color: #73AE42;
	border: none;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 4px 12px;
}

h1 {
	font-size: 220%;
}

h2 {
	font-size: 200%;
	color: #294984;
	margin-left: 20px;
	font-weight: normal;
}

h3 {
	font-size: 160%;
	color: #999;
	margin: 0 0 12px 20px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4 {
	font-size: 114.29%;
}

img.icon {
	display: block;
	float: left;
	margin: 0 10px 5px 0;
}

hr {
	background-color: #CCC;
	border: none;
	color: #CCC;
	height: 1px;
	clear: both;
	margin: 5px 0;
}

a {
	color: #294984;	
}

.gridHeader th {
	text-align:center;
	padding:4px;
	font-size: 90%;
	white-space: nowrap;
}

.gridRow td, .gridAltRow td {
	padding:6px;
	padding-bottom:10px;
	font-size: 60%;
}

.gridRow td {
	
}

.gridAltRow td {
	
}


.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
