<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <services>
      <service 
          name="Microsoft.ServiceModel.Samples.LoadBalancerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/servicemodelsamples/loadBalancerService/"/>
          </baseAddresses>
        </host>
        <!-- use base address provided by the host -->
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="Binding1" 
                  contract="Microsoft.ServiceModel.Samples.ILoadBalancer" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <!-- You can change security mode to enable security -->
        <binding name="Binding1">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>

</configuration>
