

<html>

   

   <body>

      <form name="ctrl2" method="POST" action="Repeater1.htm" id="ctrl2">
<input type="hidden" name="__VIEWSTATE" value="YTB6MTgzNjgzMDI3OV9hMHpfaHo1ejJ4X2Ewel9oejV6MXhfYTB6aHpOdW1JdGVtc181ejR4eF9feHhfeHhfeF9feA==c29bae6c" />


          

                 Value: <input name="MyList:ctrl0:MyValue" type="text" value="1" id="MyList_ctrl0_MyValue" />

                 <hr align=left width=200>

              

                 Value: <input name="MyList:ctrl1:MyValue" type="text" value="2" id="MyList_ctrl1_MyValue" />

                 <hr align=left width=200>

              

                 Value: <input name="MyList:ctrl2:MyValue" type="text" value="3" id="MyList_ctrl2_MyValue" />

                 <hr align=left width=200>

              

                 Value: <input name="MyList:ctrl3:MyValue" type="text" value="4" id="MyList_ctrl3_MyValue" />

                 <hr align=left width=200>

              

          <input type="submit" name="ctrl6" value="Update" />

      </form>

   </body>

</html>