<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <switches>
      <!--
      These switches allow the application's user to turn tracing on
      and off after deployment. There are two kinds of switches:
      Boolean and TraceLevel. See their descriptions below. You can
      have as many switches as you choose to. Your code must check the
      values of these switches as it determines what action to take
      regarding tracing. See the code for examples.
      -->

      <!--
      This is a boolean, on/off switch. In this sample, it is used to enable or
      disable tracing for the entire application. To turn tracing on, change
      value="0" to value="1".
      -->

      <add name="ApplicationTracingSwitch" value="1" />

      <!--
      This switch controls general trace messages. You can control the amount of
      information in trace messages by selecting a trace level and setting the
      value attribute accordingly.
        0 = No messages
        1 = Emit error messages
        2 = Emit errors and warnings
        3 = Emit errors, warnings, and informational messages
        4 = Provide all of the above, plus verbose messages
      -->

      <add name="DetailLevelSwitch" value="4" />

      <!--
      This switch controls messages relating to database access. Like the switch
      above, it is also a verbosity-level switch. Set the value to 1, 2, 3 or 4
      according to the level of detail needed.
      -->

      <add name="DataAccessSwitch" value="4" />

      <!--
      This is a boolean switch for monitoring data access via a web service. Change
      value="0" to value="1" to enable web service-related messages.
      -->
      <add name="WebServiceSwitch" value="1" />
    </switches>
  </system.diagnostics>
</configuration>
