<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--
  <system.diagnostics>
    <switches>
      <add name="System.Workflow LogToFile" value="1" />
      <add name="System.Workflow.Runtime" value="All" />
      <add name="System.Workflow.Runtime.Hosting" value="All" />
      <add name="System.Workflow.Runtime.Tracking" value="All" />
      <add name="System.Workflow.Activities" value="All" />
      <add name="System.Workflow.Activities.Rules" value="All" />
    </switches>
  </system.diagnostics>
  -->
  <connectionStrings>
    <add name="NumberGuess"
         connectionString="Initial Catalog=NumberGuessWorkflows;Data Source=localhost\sqlexpress;Integrated Security=SSPI;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>