A:link {
	COLOR: #003399
}
A:hover {
	COLOR: red
}
BODY {
	BACKGROUND-IMAGE: url(../images/bgyellow.gif); BACKGROUND-REPEAT: repeat-y
}
TD {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
P {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
HR {
	COLOR: #ff3300
}
LI {
	FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; LIST-STYLE-TYPE: square
}
.netsc_text {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.head {
	FONT-SIZE: 14pt; COLOR: #000000; LINE-HEIGHT: 14pt; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-ALIGN: left
}
.Level1 {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level1:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #ff3300; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level1:link {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level1_s {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; COLOR: #ff3300; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level2 {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level2:hover {
	FONT-SIZE: 7pt; COLOR: #ff3300; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: underline
}
.Level2:link {
	FONT-SIZE: 7pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.Level2_s {
	FONT-SIZE: 7pt; COLOR: #ff3300; FONT-FAMILY: Verdana, Arial, sans-serif; TEXT-DECORATION: none
}
.hm_leftnav {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 10pt; FONT-FAMILY: Arial, Verdana, sans-serif
}
.caps {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-VARIANT: small-caps
}
.hm_caps {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; FONT-VARIANT: small-caps
}
.hm_adv {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
.hm_adv:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ff3300; FONT-FAMILY: Verdana, Arial, sans-serif
}
.hm_adv:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif
}
.hm_srchhd {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; LETTER-SPACING: -1pt
}
.lvl3_hd {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; COLOR: #000000; FONT-FAMILY: Verdana, Arial, sans-serif; LETTER-SPACING: -1pt
}
