<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CoordinatingEmailAddress" value="" />
    <add key="DefaultUserEMailAddress" value="" />
    <add key="DirectoryUri" value="C:\Windows Workflow Foundation\Examples\SimpleHumanWorkflow\HumanWorkflowWinformDemo\OrgChart.xml" />
  </appSettings>
</configuration>