<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All rights reserved. -->
<configuration>
  <system.web>
    <compilation targetFrameworkMoniker=".NETFramework,Version=v4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Service1" behaviorConfiguration="HandyManService.Service1Behavior" >
        <endpoint address="" contract="IService" binding="basicHttpContextBinding"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HandyManService.Service1Behavior">

          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceMetadata httpGetEnabled="True"/>

        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
