<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>

     <client>
       <endpoint name="poolservice"  
                 address="net.tcp://localhost:1000/poolservice"                  
                 binding="customBinding" 
                 bindingConfiguration="binaryOverTcp"
                 contract="Microsoft.ServiceModel.Samples.IPoolService" />       
     </client>

     <bindings>
       <customBinding>
         <binding name="binaryOverTcp">
           <binaryMessageEncoding />
           <tcpTransport />
         </binding>
       </customBinding>
     </bindings>
     
   </system.serviceModel>
</configuration>
