<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<application>
			<service>
				<wellknown mode="Singleton" 
						   type="ExpenseLocalServices.ExpenseRemoteService, ExpenseLocalServices" 
						   objectUri="ExpenseRemoteService" />
			</service>
			<channels>
				<channel ref="tcp" port="8085" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
