



    <link rel="stylesheet" href="../../../../util/style.css">

    <form name="Form" method="post" action="srcview.htm?path=/QuickStart/aspplus/samples/localize/resources/showcontrols.src&file=showcontrols.htm" id="Form">
<input type="hidden" name="__VIEWSTATE" value="YTB6MTQ3MzAyNjM4MF9hMHpfaHo1ejN4X2Ewel9oejV6MHhfYTB6aHppbm5lcmh0bWxfc2hvd2NvbnRyb2xzLmFzcFx4eF9feHhfeHhfeF9feA==48aa48a2" />


        <div class="SampleHeader" style="width:100%">
            <div class="SampleTitle">
                <span id="Title">showcontrols.htm</span>
            </div>
            <table id="SourceTable" style="font: 8pt Verdana">
    <tr>
        <td style="padding-right:10;"><b>C# Source: </b></td>
        <td><a href='../../../../aspplus/samples/localize/resources/showcontrolsaspxsource.htm '>showcontrols.htm </a> &nbsp;&nbsp</td>
    </tr>
    <tr>
        <td style="padding-right:10;"><b>VB Source: </b></td>
        <td><a href='../../../../aspplus/samples/localize/resources/vb/showcontrolsaspxsource.htm '>VB/showcontrols.htm </a> &nbsp;&nbsp</td>
    </tr>
</table>

        </div>

        <xmp><%@Page Language="C#" UICulture="en-us" Description="Localized Controls" %>
<%@Import Namespace="System.Globalization"%>
<%@Import Namespace="System.Resources"%>
<%@Import Namespace="System.Threading"%>

<%@Import Namespace="LocalizedControls" %>
<%@Register TagPrefix="Loc" namespace="LocalizedControls" %>



<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" href="../i18n_styles.css" >
<link rel="stylesheet" type="text/css" href="../news.css" >

<title>Show Controls</title>

</head>


<body>
<h3>Localizing Code-Behind Controls</h3>

The buttons below are all instances of the same code-behind control
<code>LocalizedControls.LocalizedButton</code>. This control uses
satellite assemblies to display a localized string at the rendering
stage.
<p>

<table border="1">

<tr>
<td>
<% Thread.CurrentThread.CurrentUICulture = new CultureInfo("en-us"); %>
Current UICulture is 
    <%=CultureInfo.CurrentUICulture.Name%> 
    (<%=CultureInfo.CurrentUICulture.EnglishName%>)
</td>
<td>
<Loc:LocalizedButton runat="server" Text="ok" />
<Loc:LocalizedButton runat="server" Text="cancel" />
<Loc:LocalizedButton runat="server" Text="continue" />
<Loc:LocalizedButton runat="server" Text="close" />
</td>
</tr>


<tr>
<td>
<% Thread.CurrentThread.CurrentUICulture = new CultureInfo("de"); %>
Current UICulture is 
    <%=CultureInfo.CurrentUICulture.Name%> 
    (<%=CultureInfo.CurrentUICulture.EnglishName%>)
</td>
<td>
<Loc:LocalizedButton runat="server" Text="ok" />
<Loc:LocalizedButton runat="server" Text="cancel" />
<Loc:LocalizedButton runat="server" Text="continue" />
<Loc:LocalizedButton runat="server" Text="close" />
</td>
</tr>

<tr>
<td>
<% Thread.CurrentThread.CurrentUICulture = new CultureInfo("ja"); %>
Current UICulture is 
    <%=CultureInfo.CurrentUICulture.Name%> 
    (<%=CultureInfo.CurrentUICulture.EnglishName%>)
</td>
<td>
<Loc:LocalizedButton runat="server" Text="ok" />
<Loc:LocalizedButton runat="server" Text="cancel" />
<Loc:LocalizedButton runat="server" Text="continue" />
<Loc:LocalizedButton runat="server" Text="close" />
</td>
</tr>
</table>

</body>
</html>
</xmp>
        <span id="ErrorMessage" style="color:red"></span>

    </form>
