BODY {
	FONT: 68% verdana,arial,helvetica; COLOR: #000000
}
TD {
	FONT-SIZE: 68%
}
TH {
	FONT-SIZE: 68%
}
A:link {
	COLOR: #003399; TEXT-DECORATION: none
}
A:visited {
	COLOR: #6699cc; TEXT-DECORATION: none
}
A:active {
	COLOR: #008080
}
A:hover {
	TEXT-DECORATION: underline
}
A.clsBackTop {
	MARGIN-TOP: 10px; FONT-SIZE: 90%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #003399
}
A.clsBackTop:visited {
	MARGIN-TOP: 10px; FONT-SIZE: 90%; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; COLOR: #003399
}
A.clsIncCpyRt {
	FONT-SIZE: 95%; COLOR: #ffffff
}
H1 {
	MARGIN: 0px 0px 5px; FONT: bold 165% verdana,arial,helvetica
}
H2 {
	FONT: bold 140% verdana,arial,helvetica
}
H2.clsOsigHead {
	MARGIN-TOP: 1em; FONT-SIZE: 125%; MARGIN-BOTTOM: 0em; COLOR: #3366cc; FONT-FAMILY: arial, helvetica, sans-serif
}
H2.clsBlue {
	COLOR: #336699
}
H3 {
	MARGIN-BOTTOM: 0.5em; FONT: bold 115% verdana,arial,helvetica
}
H4 {
	MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
}
H5 {
	MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
}
H6 {
	MARGIN-BOTTOM: 0.5em; FONT: bold 100% verdana,arial,helvetica
}
IMG.clsImgButton {
	MARGIN-TOP: 3px; CURSOR: hand
}
.clsTocHead {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 110%; CURSOR: hand; COLOR: #003399; LINE-HEIGHT: 90%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.clsTocSmall {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 90%; CURSOR: hand; COLOR: #ff0000; LINE-HEIGHT: 90%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.clsHead {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #003399; LINE-HEIGHT: 90%; FONT-STYLE: normal; FONT-VARIANT: normal
}
.Issue {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 90%; CURSOR: hand; COLOR: red; LINE-HEIGHT: 90%; FONT-STYLE: normal; FONT-VARIANT: normal; TEXT-DECORATION: none
}
DIV.clsTocItem DIV {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; PADDING-BOTTOM: 4px; COLOR: #000000; LINE-HEIGHT: 100%; FONT-STYLE: normal; FONT-VARIANT: normal
}
DIV.clsTocItem1 {
	MARGIN-TOP: 5px; PADDING-BOTTOM: 4px
}
TD.article {
	PADDING-LEFT: 0px; VERTICAL-ALIGN: top
}
.articletext {
	FONT-SIZE: 80%; FONT-FAMILY: times new roman,times
}
TD.clsLND {
	COLOR: red; LINE-HEIGHT: 1
}
SPAN.dropcap {
	FONT-WEIGHT: bold; FONT-SIZE: 225%; COLOR: #cc3300; LINE-HEIGHT: 100%; FONT-FAMILY: verdana,arial,helvetica; FONT-VARIANT: normal
}
SPAN.QAcap {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; COLOR: #cc3300; LINE-HEIGHT: 100%; FONT-FAMILY: verdana,arial,helvetica; FONT-VARIANT: normal
}
SPAN.st {
	FONT-WEIGHT: bold; LINE-HEIGHT: 100%; FONT-STYLE: normal; FONT-VARIANT: normal
}
SPAN.category {
	FONT-WEIGHT: bold; VERTICAL-ALIGN: top; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
SPAN.pd {
	COLOR: #008080
}
.infobar {
	BORDER-RIGHT: #99ccff 1px outset; BORDER-TOP: #99ccff 1px outset; BORDER-LEFT: #99ccff 1px outset; BORDER-BOTTOM: #99ccff 1px outset
}
.footer {
	BORDER-TOP: #99ccff 2px groove
}
TD.search {
	BORDER-RIGHT: #003366 1px solid; BORDER-TOP: #99ccff 1px solid
}
.functionbar {
	PADDING-RIGHT: 15px; BORDER-TOP: #99ccff 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #003366 1px solid
}
SPAN.clsSum {
	FONT-WEIGHT: bold; COLOR: #000080
}
SPAN.clsSumText {
	FONT: 100% verdana,arial,helvetica; COLOR: #000000
}
SPAN.clsSubhead {
	FONT: bold 100% verdana,arial,helvetica; COLOR: #000080
}
PRE {
	FONT-SIZE: 90%; COLOR: #000000
}
SPAN.clsInfo {
	FONT: 90% verdana,arial,helvetica
}
SPAN.clsBio {
	FONT-WEIGHT: normal; FONT-SIZE: 90%; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
SPAN.clsFrom {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; COLOR: #000000; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
SPAN.clsLevel {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-STYLE: normal; FONT-VARIANT: normal
}
SPAN.functionbartext {
	COLOR: #ffffff
}
SPAN.highlight {
	FONT-WEIGHT: bold; COLOR: red
}
.cover {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid
}
#home {
	COLOR: #003399; TEXT-DECORATION: none
}
.clsGloss {
	FONT: bold 85% verdana,arial,helvetica; COLOR: #000080
}
.clsFigs {
	FONT: bold 85% verdana,arial,helvetica
}
.clsField {
	FONT: bold 85% verdana,arial,helvetica; COLOR: #000000
}
.clsTable {
	FONT: 80% verdana,arial,helvetica; COLOR: #000000
}
.clsFigure {
	FONT: bold 100% verdana,arial,helvetica
}
.clsCap {
	FONT: bold 100% verdana,arial,helvetica; COLOR: #000080
}
.clsCaptxt {
	FONT: 100% verdana,arial,helvetica; COLOR: #000080
}
#idSearch TD {
	FONT-SIZE: 70%; COLOR: #ffffff; FONT-FAMILY: verdana,arial,helvetica,sans-serif
}
FORM {
	FONT-SIZE: 80%; MARGIN-BOTTOM: 0px
}
SELECT {
	FONT-SIZE: 100%
}
INPUT {
	FONT-SIZE: 100%
}
INPUT.clsButton {
	FONT-WEIGHT: bold
}
#lnkPrevText {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
#lnkNextText {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
#lnkUpText {
	FONT-WEIGHT: normal; FONT-SIZE: 7.5pt; COLOR: black; FONT-FAMILY: verdana,arial,helvetica,sans-serif; TEXT-DECORATION: none
}
DIV.clsBucketBranch {
	MARGIN: 10px; FONT-STYLE: italic
}
DIV.clsBucketBranch A {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:link {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:active {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:visited {
	COLOR: black; TEXT-DECORATION: none
}
DIV.clsBucketBranch A:hover {
	COLOR: blue
}
TD.clsGrayTop {
	PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; FONT-WEIGHT: normal; PADDING-BOTTOM: 5px; COLOR: black; PADDING-TOP: 5px; BORDER-BOTTOM: 0px
}
TD.clsRaised {
	PADDING-RIGHT: 10px; BORDER-TOP: #99ccff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #003366 1px solid
}
TD.clsDarkRaised {
	PADDING-RIGHT: 10px; BORDER-TOP: #6699cc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px solid
}
TD.clsSunken {
	PADDING-RIGHT: 10px; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BORDER-BOTTOM: #99ccff 1px solid
}
TD.clsBBarSunken {
	PADDING-RIGHT: 10px; BORDER-TOP: #003366 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #99ccff 1px solid
}
TD.clsBBarRaised {
	PADDING-RIGHT: 10px; BORDER-TOP: #99ccff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000033 1px solid
}
TD.clsBBarRaised {
	PADDING-RIGHT: 10px; BORDER-TOP: #99ccff 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #000033 1px solid
}
TD.clsLightGreen {
	FONT-WEIGHT: normal; COLOR: #ccffcc; FONT-STYLE: italic
}
TD.clsBtnUp {
	BORDER-RIGHT: #99ccff 2px outset; PADDING-RIGHT: 3px; BORDER-TOP: #99ccff 2px outset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #99ccff 2px outset; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #99ccff 2px outset
}
TD.clsBtnDown {
	BORDER-RIGHT: #99ccff 2px inset; PADDING-RIGHT: 3px; BORDER-TOP: #99ccff 2px inset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #99ccff 2px inset; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #99ccff 2px inset
}
TD.clsBtnOn {
	BORDER-RIGHT: #6699cc 2px inset; PADDING-RIGHT: 3px; BORDER-TOP: #6699cc 2px inset; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 2px inset; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 2px inset; BACKGROUND-COLOR: #003366
}
TD.clsBtnOff {
	BORDER-RIGHT: #6699cc 2px solid; PADDING-RIGHT: 3px; BORDER-TOP: #6699cc 2px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 0px; BORDER-LEFT: #6699cc 2px solid; COLOR: #ffffff; PADDING-TOP: 0px; BORDER-BOTTOM: #6699cc 2px solid; tab-index: 0
}
TABLE.clsRating TD {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #666666 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #666666 1px solid; PADDING-TOP: 0px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: white
}
#pBackTop {
	DISPLAY: none
}
TABLE.clsNavLinks A:hover {
	TEXT-DECORATION: none
}
TABLE.clsNavLinks {
	CLEAR: both
}
#txtCharCount {
	BORDER-RIGHT: #cccccc 2px ridge; BORDER-TOP: #cccccc 2px ridge; FONT-WEIGHT: bold; OVERFLOW: hidden; BORDER-LEFT: #cccccc 2px ridge; WIDTH: 3.7em; COLOR: red; BORDER-BOTTOM: #cccccc 2px ridge; HEIGHT: 1.5em; BACKGROUND-COLOR: white; TEXT-ALIGN: right
}
TABLE.clsCmtEntryTbl TD {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
SPAN.clsLeftNavDot {
	FONT-SIZE: 115%; COLOR: red; LINE-HEIGHT: 1
}
DIV.clsExpanded {
	DISPLAY: inline; WIDTH: 100%; COLOR: black
}
A.clsExpanded {
	DISPLAY: inline; WIDTH: 100%; COLOR: black
}
DIV.clsCollapsed {
	DISPLAY: none
}
A.clsCollapsed {
	DISPLAY: none
}
SPAN.clsPropattr {
	FONT-WEIGHT: bold
}
#pStyles {
	DISPLAY: none; CURSOR: hand; TEXT-DECORATION: underline
}
#pCode {
	DISPLAY: none; CURSOR: hand; TEXT-DECORATION: underline
}
#pSyntax {
	DISPLAY: none; CURSOR: hand; TEXT-DECORATION: underline
}
#pEvents {
	DISPLAY: none; CURSOR: hand; TEXT-DECORATION: underline
}
#pStyles {
	DISPLAY: none; CURSOR: hand; TEXT-DECORATION: underline
}
#idToolbar {
	FONT-SIZE: 10pt
}
#idToolbar A:hover {
	TEXT-DECORATION: none
}
#idToolbar {
	BORDER-BOTTOM: #ffffff 1px solid
}
