<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.runtime.remoting>
		<channels>
			<channel id="tcp" type="Custom.Remoting.Channels.TcpChannel, TwoWayChannel" displayName="TwoWay Tcp Channel" />
			<channel id="http" type="Custom.Remoting.Channels.HttpChannel, TwoWayChannel" displayName="TwoWay Http Channel" />
		</channels>
		<application>
			<channels>
				<channel ref="http" port="9876" channel-schema="http-secure" name="Two way http-secure channel">
					<clientProviders>
						<formatter ref="binary" />
						<provider type="MsdnMag.Remoting.SecureClientChannelSinkProvider, SecureChannel" algorithm="DES" oaep="false" maxRetries="1" />
					</clientProviders>
					<serverProviders>
						<provider type="MsdnMag.Remoting.SecureServerChannelSinkProvider, SecureChannel" algorithm="DES" oaep="false" requireSecurity="true" securityExemptionList="127.0.0.1; 207.46.230.220" connectionAgeLimit="120" sweepFrequency="60" />
						<formatter ref="binary" />
					</serverProviders>
				</channel>
				<channel ref="tcp" port="8080" name="Two way tcp-soap channel" channel-schema="tcp-soap" />
				<channel ref="http" port="8000" name="Two way http-binary channel" channel-schema="http-binary" />
			</channels>
		</application>
	</system.runtime.remoting>
</configuration>
